Repository impstation/imp-station-14, pull requests merged in 2025-03, with the labels that each got.

#1950 Github actions tweaks
  .github/workflows/build-test-debug.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: No C#

#1958 slime storage is openable by pressing use key on yourself
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: No C#

#1863 various uplink items ported from Delta V
  Content.Server/_DV/DeviceLinking/Components/DeadMansSignallerComponent.cs
  Content.Server/_DV/DeviceLinking/Systems/DeadMansSignallerSystem.cs
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Electronics/dead-mans-signaller.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/foam_blade.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_DV/Recipes/Lathes/devices.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/protolathe.yml
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/closed.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/icon.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/open.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/active.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inactive.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stamps.rsi/stamp-hate-paperwork.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/fire.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-left-lit.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-right-lit.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/open.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/top.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/mag-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/appraisal-viper.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

#1957 thaven sharminnow eyes
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven.rsi/eyessharkminnow.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#1964 Apparently I fucked up and removed some Lone Op gear? Weird but fixed…
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: No C#

#1959 displacements my lover displacements my enemy
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/back.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/belt.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/ears.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/feet.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/glasses.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/jumpsuit.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/mask.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/neck.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/outerClothing.png
  Resources/Textures/_Impstation/Mobs/Species/Goblin/displacement.rsi/suitstorage.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/back.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/ears.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/feet.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/hand.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/jumpsuit.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/neck.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/outerClothing.png
Labels: Changes: No C#, Changes: Sprites

#1962 BROS no longer take damage from BrosochloricBROS
  Resources/Prototypes/_Impstation/Reagents/fun.yml
Labels: Changes: No C#

#1966 fix fever dream
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: Changes: No C#

#1881 kodepiiae ventspawns
  Content.Server/_Impstation/NPC/Components/YoungKodepiiaRetaliationComponent.cs
  Content.Server/_Impstation/NPC/Systems/YoungKodepiiaRetaliationSystem.cs
  Resources/Audio/_Impstation/Kodepiia/attributions.yml
  Resources/Audio/_Impstation/Kodepiia/kodeask.ogg
  Resources/Audio/_Impstation/Kodepiia/kodedeath1.ogg
  Resources/Audio/_Impstation/Kodepiia/kodedeath2.ogg
  Resources/Audio/_Impstation/Kodepiia/kodeexclaim.ogg
  Resources/Audio/_Impstation/Kodepiia/kodegasp.ogg
  Resources/Audio/_Impstation/Kodepiia/kodestep.ogg
  Resources/Audio/_Impstation/Kodepiia/kodetalk.ogg
  Resources/Locale/en-US/_Impstation/accent/animals.ftl
  Resources/Locale/en-US/_Impstation/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meat.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Impstation/Accents/full_replacements.yml
  Resources/Prototypes/_Impstation/Body/Organs/kodepiia.yml
  Resources/Prototypes/_Impstation/Body/Parts/kodepiia.yml
  Resources/Prototypes/_Impstation/Body/Prototypes/kodepiia.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/GameRules/pests.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/SoundCollections/footsteps.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_verbs.yml
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/eyes-dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/eyes-equipped-HELMET.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/inhand-left.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/inhand-right.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/young-kodepiia-dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/young-kodepiia.rsi/young-kodepiia.png
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/billeausac.png
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/finecoil.png
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/opticullis.png
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/primarygullet.png
  Resources/Textures/_Impstation/Mobs/Species/Kodepiia/organs.rsi/slough.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/meat.rsi/kodepiia-cooked.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/meat.rsi/kodepiia.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/meat.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio

#1887 Luna Second PT PR
  Resources/Maps/_Impstation/Shuttles/cargojeep_luna.yml
  Resources/Maps/_Impstation/luna.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Impstation/Maps/luna.yml
Labels: Changes: No C#, Changes: Map

#1970 Fix Urist Decapiation (Bad textures)
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_m.png
  Resources/Textures/_Impstation/Mobs/Customization/bodyhair.rsi/human_bodyhair_male.png
Labels: Changes: No C#, Changes: Sprites

#1952 Box and Xeno mapping changes oh boy!
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#1953 Fix the monument preview's "pulse" effect
  Content.Client/_Impstation/CosmicCult/Visuals/MonumentPlacementPreviewOverlay.cs
  Resources/Textures/_Impstation/Shaders/monument_pulse.swsl
Labels: Changes: Shaders

#1976 lathe reorganization
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Corvax/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Corvax/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/circuitimprinter.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
Labels: Changes: No C#

#1956 Firearm Shoving! Melee!
  Resources/Audio/_Impstation/Weapons/Guns/Melee/shove_folley.ogg
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/stunlauncher.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/dmr.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: No C#, Changes: Audio

#1969 Oswald, the Hospitality Director's penguin
  Resources/Locale/en-US/_Impstation/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Impstation/InventoryTemplates/oswald_inventory_template.yml
  Resources/Prototypes/_Impstation/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Impstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
  Resources/Prototypes/_Impstation/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_Impstation/Mobs/Pets/oswald.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Pets/oswald.rsi/oswald.png
  Resources/Textures/_Impstation/Mobs/Pets/oswald.rsi/oswald_dead.png
Labels: Changes: No C#, Changes: Sprites

#1979 banana update
  Resources/Maps/_Impstation/banana.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/handheld_camera.yml
Labels: Changes: No C#, Changes: Map

#1980 holy water description parity
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: Changes: No C#

#1981 slight gollylad armor touchup
  Resources/Textures/_Impstation/Clothing/Head/Helmets/goblinknighthelm.rsi/equipped-HELMET-goblin.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/goblinknighthelm.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/goblinknighthelm.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/goblinknightarmor.rsi/equipped-OUTERCLOTHING-goblin.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/goblinknightarmor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/goblinknightarmor.rsi/icon.png
Labels: Changes: No C#, Changes: Sprites

#1985 missed one
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/feet.png
Labels: Changes: No C#, Changes: Sprites

#1983 Luna maintenance
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#1996 Shader compat mode fixes ... again
  Resources/Textures/_Impstation/Shaders/monument_pulse.swsl
  Resources/Textures/_Impstation/Shaders/monument_stars.swsl
  Resources/Textures/_Impstation/Shaders/saturation_shuffle.swsl
Labels: Changes: No C#, Changes: Shaders

#1993 Shifting figures
  Resources/Locale/en-US/_Impstation/datasets/figurines.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/_Impstation/Datasets/figurines.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/figurines.yml
  Resources/Textures/_Impstation/Objects/Fun/changeling.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Fun/changeling.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/pareidolia.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Fun/pareidolia.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#1999 [urgent] Make the cargo shuttle spawn on Core, Elkridge and Barratry again
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: No C#, Changes: Map

#1955 Impstation Goes To Hell
  Content.Client/Content.Client.csproj
  Content.Client/_Goobstation/Heretic/UI/HellMemoryEui.cs
  Content.Client/_Goobstation/Heretic/UI/HellMemoryMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/HellMemoryMenu.xaml.cs
  Content.Server/_Goobstation/Heretic/Components/HellSpawnPointComponent.cs
  Content.Server/_Goobstation/Heretic/Components/HellVictimComponent.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HellWorldSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Heretic/UI/HellMemoryEui.cs
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/game-ticking/game-presets/preset-heretic.ftl
  Resources/Maps/_Impstation/Nonstations/Hellworld.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
Labels: Changes: Map, Changes: UI

#1917 Handheld entertainment
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Impstation/Objects/Devices/handheld_tv.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/electronics.yml
  Resources/Textures/Objects/Devices/camera_bug.rsi/camera_bug.png
  Resources/Textures/_Impstation/Objects/Devices/handheld_tv.rsi/handheld_tv.png
  Resources/Textures/_Impstation/Objects/Devices/handheld_tv.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2007 Fix Handheld TV failing integration tests
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Impstation/Objects/Devices/handheld_tv.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/science.yml
Labels: Changes: No C#

#2011 fix PrototypeSaveTest
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
Labels: Changes: No C#

#2008 Fix a rare test fail caused by PelletGlassSpread
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
Labels: Changes: No C#

#2017 Hell cleanup
  Resources/Maps/_Impstation/Nonstations/Hellworld.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
Labels: Changes: No C#, Changes: Map

#2000 Syndicate raid suit recolor
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/syndie-raid.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/light-overlay.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/syndie-raid.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#1989 thaven markings from DV
  Resources/Locale/en-US/_DV/markings/thaven.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Textures/_DV/Mobs/Customization/thaven/thaven.rsi/cheek_barbels.png
  Resources/Textures/_DV/Mobs/Customization/thaven/thaven.rsi/eyebrow_barbels.png
  Resources/Textures/_DV/Mobs/Customization/thaven/thaven.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/thaven/thaven.rsi/underbelly_face.png
  Resources/Textures/_DV/Mobs/Customization/thaven/thaven.rsi/underbelly_torso.png
Labels: Changes: No C#, Changes: Sprites

#2003 AA and SA get decapoid breathing gear
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#2019 Add Ocean parallax for mapping
  Resources/Prototypes/_TP/Parallaxes/ocean.yml
  Resources/Textures/_TP/Parallaxes/attributions.yml
  Resources/Textures/_TP/Parallaxes/land.png
Labels: Changes: No C#

#2004 Cosmic Cult 1.1.3r (Release)
  Content.Client/_Impstation/CosmicCult/ClientCosmicCultSystem.cs
  Content.Server/_Impstation/CosmicCult/CleanseCult.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.Abilities.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.cs
  Content.Server/_Impstation/CosmicCult/DeconversionSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/_Impstation/CosmicCult/Components/CosmicCultComponent.cs
  Resources/Locale/en-US/_Impstation/cosmiccult/abilities.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/alerts.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/_Impstation/CosmicCult/Alerts/entropy.yml
  Resources/Prototypes/_Impstation/CosmicCult/Mobs/astralforms.yml
  Resources/Prototypes/_Impstation/CosmicCult/Objects/entropymote.yml
  Resources/Prototypes/_Impstation/CosmicCult/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/ServerInfo/_Impstation/Guidebook/Antagonist/CosmicCult.xml
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo_cosmiccult.png
  Resources/Textures/Logo/logo_legacy.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base0.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base1.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base10.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base11.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base12.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base13.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base14.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base2.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base3.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base4.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base5.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base6.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base7.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base8.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/base9.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/meta.json
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num0.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num1.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num10.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num11.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num12.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num13.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num14.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num2.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num3.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num4.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num5.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num6.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num7.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num8.png
  Resources/Textures/_Impstation/CosmicCult/Icons/alert_entropy.rsi/num9.png
Labels: Cosmic Cult, Changes: Sprites

#2022 Luna maintenance
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2036 Add cyborg recharge station prefilled with a drone
  Resources/Prototypes/_Impstation/Catalog/Fills/Machines/chargers.yml
Labels: Changes: No C#

#2020 Small Gun Melee Additions
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#

#2024 Prize tickets
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/misc.yml
  Resources/Textures/_Impstation/Objects/Fun/prizeticket.rsi/bronze.png
  Resources/Textures/_Impstation/Objects/Fun/prizeticket.rsi/diamond.png
  Resources/Textures/_Impstation/Objects/Fun/prizeticket.rsi/gold.png
  Resources/Textures/_Impstation/Objects/Fun/prizeticket.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/prizeticket.rsi/silver.png
Labels: Changes: No C#, Changes: Sprites

#2021 Food rebalance
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
Labels: Changes: No C#

#2037 ore processor ui fix
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
Labels: Changes: UI

#2052 Cargo computers sprite tweak
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/bounty.png
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/computer.png
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/generic_keyboard.png
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/generic_panel_open.png
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/request.png
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/tech_key.png
Labels: Changes: No C#, Changes: Sprites

#2049 Train expansion/ Train Medical Rework
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2054 Allow multiple jobs to be blacklisted from thief objective
  Content.Server/Objectives/Components/NotJobRequirementComponent.cs
  Content.Server/Objectives/Systems/NotJobRequirementSystem.cs
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Decorations/suppy.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
Labels: upstreamable?

#2025 Drone Update
  Content.Client/Atmos/UI/GasAnalyzerBoundUserInterface.cs
  Content.Client/NetworkConfigurator/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/_Impstation/Drone/Components/DroneComponent.cs
  Content.Server/_Impstation/Drone/DroneSystem.cs
  Content.Shared/DeviceNetwork/Components/NetworkConfiguratorComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/_Impstation/Drone/SharedDroneSystem.cs
  Content.Shared/_Impstation/Illiterate/IlliterateComponent.cs
  Content.Shared/_Impstation/Illiterate/IlliterateSystem.cs
  Resources/Locale/en-US/_Impstation/drone/drone-system.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/InventoryTemplates/drone_inventory_template.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/silicon.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/drone_tools.yml
  Resources/Textures/_Impstation/Clothing/Back/Satchels/dronesatchel.rsi/icon.png
Labels: Changes: Sprites

#2040 Lathe qol
  Content.Client/Materials/UI/MaterialDisplay.xaml.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: UI

#2047 Revolutionary Encryption Key
  Resources/Locale/en-US/_Impstation/radio_channels.ftl
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Impstation/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Impstation/radio_channels.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Devices/encryption_keys.rsi/crypt_red.png
  Resources/Textures/_Impstation/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/encryption_keys.rsi/revs_label.png
Labels: Changes: No C#, Changes: Sprites

#2026 headphone toggle fix
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/_Impstation/Clothing/NeckComponent.cs
  Content.Shared/_Impstation/Clothing/NeckSystem.cs
  Resources/Locale/en-US/_Impstation/actions/actions/necktoggle.ftl
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/icon-on.png
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/up-equipped-NECK.png
Labels: Changes: Sprites

#2029 New Map: Hash
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/Hash_cargo.yml
  Resources/Maps/_Impstation/Shuttles/hash_evac.yml
  Resources/Maps/_Impstation/hash.yml
  Resources/Prototypes/_Impstation/Maps/hash.yml
Labels: Changes: No C#, Changes: Map

#2064 Redo Xeno Bar and Kitchen
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2032 Mime touchup and cropped version
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/mime.yml
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mime.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mimecropped.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mime.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/mimecropped.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2031 juggernaut cloak and syndicate satchel
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Impstation/Clothing/Back/Satchels/syndicate.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/syndicate.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/syndicate.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/syndicate.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/syndicate.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/juggernautcloak.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/syndicate_juggernaut.rsi/equipped-HELMET-gray.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/syndicate_juggernaut.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/syndicate_juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/syndicate_juggernaut.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2034 undershirts dont show under short sleeves
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/binder.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/binder_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/classic.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/gross_sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/gross_sleeveless_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/nanotrasen.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/nanotrasen_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt_sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt_sleeveless_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sleeveless_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sports.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sports_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/strapless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/strapless_f.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/undershirt.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/undershirt_f.png
Labels: Changes: No C#, Changes: Sprites

#2046 some more clothes
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/random_simple.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/_Impstation/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Impstation/Palettes/sixteen.yml
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfblack.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfblack.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfblack.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfblack.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfblack.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Scarfs/wrappedscarfwhite.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/equipped-FEET-vox.png
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/equipped-FEET.png
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Shoes/Misc/flipflopsblack.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_leg_simple_pants.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_leg_simple_shorts.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_torso_simple_tank.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_torso_simple_tank_cropped.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_torso_simple_tee.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_torso_simple_tee_cropped.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/decor_leg_simple_belt.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Melee/tailorsknife.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/tailorsknife.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/tailorsknife.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Melee/tailorsknife.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2050 wash your mouth out with soap
  Resources/Locale/en-US/_Impstation/guidebook/chemistry/statuseffects.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_Impstation/status_effects.yml
Labels: Changes: No C#

#2056 do NOT map
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/eldritch_mobs.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Impstation/CosmicCult/Tileset/floors.yml
  Resources/Prototypes/_Impstation/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/dino.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Robotics/Borg/borg_modules.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: No C#

#2059 tattoos and jewelry
  Resources/Locale/en-US/_Impstation/markings/jewelry.ftl
  Resources/Locale/en-US/_Impstation/markings/tattoos.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/jewelry.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/chest_necklace.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings1.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings2.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings_drop1.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings_drop2.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings_weights1.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_earrings_weights2.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/head_septum.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/l_hand_bracelet.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/l_hand_rings1.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/l_hand_rings2.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/r_hand_bracelet.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/r_hand_rings1.png
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/r_hand_rings2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/chest_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/chest_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/chest_heavy3.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/head_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/head_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_arm_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_arm_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_foot_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_foot_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_hand_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_hand_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_leg_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_leg_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_arm_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_arm_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_foot_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_foot_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_hand_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_hand_heavy2.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_leg_heavy1.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_leg_heavy2.png
Labels: Changes: No C#, Changes: Sprites

#2060 Hairstyles (Half-up, Middle Part, Mullet, Curly Undercut, Curly Sideshave)
  Resources/Locale/en-US/_Impstation/accessories/human-hair.ftl
  Resources/Locale/en-US/_Impstation/accessories/thaven-hair.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven_hair.yml
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/halfup_long.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/halfup_short.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/halfup_undercut.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/midpart_long.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/midpart_longer.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/mullet.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/mullet_sideshave.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/sideshave_curly.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/undercut_curly.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/halfup_long.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/halfup_short.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/halfup_undercut.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/midpart_long.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/midpart_longer.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/mullet.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/mullet_sideshave.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/sideshave_curly.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/thaven_hair.rsi/undercut_curly.png
Labels: Changes: No C#, Changes: Sprites

#2048 Spiders can now eat silk
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Prototypes/Animal/hemocyanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: No C#

#2065 new item: kaiju cloak
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/kaijucloak.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/kaijucloak.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/kaijucloak.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/kaijucloak.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/kaijucloak.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2076 Prevent E1M1 from being spaced
  Resources/Maps/_Impstation/Nonstations/E1M1.yml
Labels: Changes: No C#, Changes: Map

#2067 nutribrick wrapper nerf
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: Changes: No C#

#2070 Train maints
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2075 Reorganizes Imp typing indicators
  Resources/Prototypes/_Impstation/gastropoid_typing_indicator.yml
  Resources/Prototypes/_Impstation/gray_typing_indicator.yml
  Resources/Prototypes/_Impstation/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/_Impstation/Effects/speech.rsi/gray0.png
  Resources/Textures/_Impstation/Effects/speech.rsi/meta.json
  Resources/Textures/_Impstation/Effects/speech.rsi/snail.png
Labels: Changes: No C#, Changes: Sprites

#2077 remove some weird racism from the italian accent file
  Resources/Locale/en-US/accent/italian.ftl
Labels: Changes: No C#

#2081 Add Service access to all Service jobs. Remove Service access from all Security jobs.
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#

#1891 THIRTY FUCKING BARSIGNS
  Resources/Locale/en-US/_Impstation/barsign/barsign-component.ftl
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_Impstation/bar_signs.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/maltroach.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/alohasnackbar.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/bargonia.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/coffeemenu.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/honkednloaded.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/imp.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/juice.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/lecafesilencieux.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/littletreatstearoom.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/maltroach.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/mothsmothsmoths.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/neonflamingos.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/rockbottom.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/scotchservinwillys.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/slipperyshots.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/slowdive.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theadminbus.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theassemblyline.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thebark.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thecavern.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thecultcove.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theeinvasiverounyinn.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thegreytide.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thenest.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theoldcock.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theredmons.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/therune.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/theshaken.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thesyndicat.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thewizard.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/thewrechedhive.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/vladssaladbar.png
Labels: Changes: No C#, Changes: Sprites

#2088 apid displacements fix
  Resources/Textures/_Impstation/Mobs/Species/Apid/displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Apid/displacement.rsi/jumpsuit.png
Labels: Changes: No C#, Changes: Sprites

#2091 Hash maintenance
  Resources/Maps/_Impstation/Shuttles/Hash_cargo.yml
  Resources/Maps/_Impstation/Shuttles/hash_evac.yml
  Resources/Maps/_Impstation/hash.yml
Labels: Changes: No C#, Changes: Map

#2092 Train maintenance
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2084 ascendant mood adjustments & temp disable
  Resources/Locale/en-US/_Impstation/communications/terror.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/ghostroles.ftl
  Resources/Locale/en-US/_Impstation/cosmiccult/moods.ftl
  Resources/Prototypes/_Impstation/CosmicCult/events.yml
  Resources/Prototypes/_Impstation/CosmicCult/infectionmoods.yml
  Resources/Prototypes/threats.yml
Labels: Cosmic Cult, Changes: No C#

#2103 NEW BARSIGNS HOTFIX
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/empty.png
  Resources/Textures/_Impstation/Structures/Wallmounts/barsign.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2101 Change Robust Harvest Threshold for Dionae from 80u to 40u.
  Resources/Prototypes/Reagents/botany.yml
Labels: Changes: No C#

#2126 do you love the colour of the server rules?
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/rprules.xml
Labels: Changes: No C#

#2127 rsi validator ambush moment
  Resources/Textures/Objects/Consumable/Drinks/arnoldpalmer.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/royrogers.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/shirleytemple.rsi/fill-5.png
Labels: Changes: No C#, Changes: Sprites

#2120 Mirror description.
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
Labels: Changes: No C#

#2128 Train maintenance
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2123 Remove damage resistance bypass and bonus damage on left-click for Entropic Blade
  Resources/Prototypes/_Impstation/CosmicCult/Objects/cosmicweapons.yml
Labels: Changes: No C#

#2099 fix puffer coat name
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: No C#

#2096 Have most atmos devices render over catwalks
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Changes: No C#

#2110 Have Tippy foot step sound variation not overwrite the prototype's variation, add new prototype for admin Tippy fun
  Content.Client/Tips/TippyUIController.cs
  Resources/Audio/_Impstation/Effects/Footsteps/attributions.yml
  Resources/Audio/_Impstation/Effects/Footsteps/awoogastep.ogg
  Resources/Prototypes/Entities/Debugging/tippy.yml
  Resources/Prototypes/_Impstation/Entities/Debugging/tippy.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/SoundCollections/footsteps.yml
  Resources/Textures/_Impstation/Tippy/homer.rsi/icon.png
  Resources/Textures/_Impstation/Tippy/homer.rsi/meta.json
  Resources/Textures/_Impstation/Tippy/nerd_emoji.rsi/icon.png
  Resources/Textures/_Impstation/Tippy/nerd_emoji.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio

#2102 Add appropriate tags to decapoid plushie
  Resources/Prototypes/_Impstation/Damage/gray.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#

#2072 remove heretic targeting
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenu.xaml.cs
  Content.Client/_Goobstation/Heretic/UI/LivingHeartMenuBoundUserInterface.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Resources/Locale/en-US/_Goobstation/Heretic/abilities/heretic.ftl
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/rituals.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Heretics.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsRituals.xml
Labels: Changes: UI

#2097 Lower borg recharger's draw depth to let drones render over them when open
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Changes: No C#

#2117 More laser gun name/description parity. No more grappling melee but laser cannon big melee.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/blasters.yml
Labels: Changes: No C#

#2116 PowerSwitch component to hotplates and BaseComputer component
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
Labels: Changes: No C#

#2095 Improvised Pistol Update and Basilisk-11 Buff
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/makeshift_loader.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/LightPistols/Lpistols.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/dmr.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/improvised/improvised_pistol.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/improvised/makeshift_loader.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Misc/makeshift_loader.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Misc/makeshift_loader.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2124 Update Station AI steal objective to track the AI instead of the core
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Impstation/Objectives/stealTargetGroups.yml
  Resources/Textures/_Impstation/Mobs/Silicon/station_ai.rsi/icon.png
  Resources/Textures/_Impstation/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2113 Replace Thaven displacements with offsets
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_Impstation/InventoryTemplates/thaven_inventory_template.yml
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/mask.png
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Thaven/displacement.rsi/neck.png
Labels: Changes: No C#, Changes: Sprites

#2087 Heretic Flesh Ascension color matching
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/alive.png
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/base.png
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/blood.png
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/eyes.png
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/flesh.png
  Resources/Textures/_Goobstation/Heretic/eldritch_horror.rsi/meta.json
Labels: Changes: Sprites

#2122 Kill fartengine/farticle accelerator
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#

#2074 New wizard robe sprites
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/redwizard.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/redwizard.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/redwizard.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/redwizard.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/redwizard.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/violetwizard.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/violetwizard.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/violetwizard.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/violetwizard.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/violetwizard.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/wizardhat.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/wizardhat.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/wizardhat.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/wizardhat.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/wizardhat.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/redwizard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/redwizard.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/redwizard.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/redwizard.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/redwizard.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/violetwizard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/violetwizard.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/violetwizard.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/violetwizard.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/violetwizard.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/wizard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/wizard.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/wizard.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/wizard.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/wizard.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2119 Sec poncho in Officer Loadout. Ushanka in Winterdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#2086 Make wall rechargers behave more like other wallmount devices, make them constructable
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/utilities/wall_recharger.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/utilities.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/Structures/Power/wall_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/full.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-off.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/assembly.png
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/electronics.png
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/wires.png
Labels: Changes: No C#, Changes: Sprites, upstreamable?

#2125 Conical flasks
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/chemistry.yml
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical3.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical4.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical5.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/conical6.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-left-fill-1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-left-fill-2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-right-fill-1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-right-fill-2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/lid_conical.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge3.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge4.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge5.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/conicallarge6.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-left-fill-1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-left-fill-2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-right-fill-1.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-right-fill-2.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/lid_conicallarge.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/conical_large.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2131 Revert "Train maintenance"
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2108 monochrome cloak for fugitives (good style)
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_DV/Roles/Antags/fugitive.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/fugitivecloak.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/fugitivecloak.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/fugitivecloak.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/fugitivecloak.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/fugitivecloak.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2130 Misc Box and Xeno updates
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2134 Fix drones not fitting in borg charger
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Changes: No C#

#2105 cargo senior uniform
  Resources/Locale/en-US/_Impstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/equipped-BELT-decapoid.png
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Belt/suspenders_brown.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo.rsi/open-inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_cargo_loose.rsi/open-inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/folded-equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargo_cableknit.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cargotech_long.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_leg_simple_pants.png
  Resources/Textures/_Impstation/Clothing/Uniforms/procedural.rsi/base_leg_simple_shorts.png
Labels: Changes: No C#, Changes: Sprites

#2132 fix fever dream (again)
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: Changes: No C#, Changes: Sprites

#2118 SWAT shoes capitalization. Syndicate SWAT helmet is now T2 contraband.
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Changes: No C#

#2142 derotate cult
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#

#1862 The Salvdrobe
  Resources/Locale/en-US/_Impstation/advertisements/vending/salvdrobe.ftl
  Resources/Locale/en-US/_Impstation/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Catalog/VendingMachines/Inventories/salvdrobe.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Impstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/broken.png
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/normal-unshaded.png
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/off.png
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/panel.png
Labels: Changes: No C#, Changes: Sprites

#2139 Luna maintenance
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2135 Various service techfab items
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/lunchbox.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/service.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Clothing/Belt/plushie.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Clothing/Belt/plushie.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Belt/plushie.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Belt/plushie.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Belt/plushie.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/vacuumflask.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/vacuumflask.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/vacuumflaskbig.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/vacuumflaskbig.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchbox.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchbox.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchbox.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchbox.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchbox.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxblue.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxblue.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxblue.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxblue.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxblue.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxorange.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxorange.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxorange.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxorange.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxorange.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxpink.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxpink.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxpink.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxpink.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxpink.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2138 Spider Legs!
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
Labels: Changes: No C#

#2152 chaplains can be antags
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
Labels: Changes: No C#

#2154 Three letter changes; Emergency Laser Carbine
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/emergencylaser.yml
Labels: Changes: No C#

#2158 Paradox clone => LowpopAntagEventsTable
  Resources/Prototypes/_Impstation/GameRules/events.yml
Labels: Changes: No C#

#2144 delta v midround ghost roles use the correct name datasets
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
Labels: Changes: No C#

#2153 pixel fixes again............
  Resources/Textures/Mobs/Pets/Smile/smile_displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/ears.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/feet.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/head.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/jumpsuit.png
  Resources/Textures/_Impstation/Mobs/Species/Gray/displacement.rsi/neck.png
Labels: Changes: No C#, Changes: Sprites

#2161 mail bag fix
  Resources/Prototypes/_Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
Labels: Changes: No C#

#2156 Actually make the Syndicate SWAT helmet contraband
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: Changes: No C#
