Repository impstation/imp-station-14, pull requests merged in 2025-09, with the labels that each got.

#3398 Fix natural artifact salvage magnet trigger throwing error
  Content.Server/_Impstation/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMagnetTriggerSystem.cs
Labels: S: Needs Review, size/XS, S: Untriaged

#3399 Make character records not explode if the character has been gibbed
  Content.Server/_CD/Records/Consoles/CharacterRecordConsoleSystem.cs
Labels: S: Untriaged, Changes: Port

#3374 Fix crash when LightningResistance field of LightningTargetComponent is set to 0
  Content.Server/Lightning/LightningSystem.cs
Labels: S: Needs Review, size/XS, Changes: Upstream

#3348 fixing some pervasive replicator bugs
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#3392 Put the Clip into Stripper Clip
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3381 Shield Bashing
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3414 Fix kill or maroon objective always being green.
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Labels: S: Untriaged, size/S, Changes: Upstream

#3417 Runtime and Shiva no longer detect Initial Infected
  Content.Server/Zombies/ZombieSystem.cs
Labels: S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3294 Cozy Computer Lighting Fixes/Tweaks + BaseComputer Tabletop
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/wooden_television.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/Monitors/telescreens.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/Monitors/televisions.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/computer.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/monitors_televisions.yml
Labels: Changes: No C#, S: Needs Review, size/M, Changes: Upstream, Changes: Port

#3418 change the pr request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Changes: No C#, S: Needs Review, Changes: Upstream

#3422 New kode action icons
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Impstation/Actions/kodepiia.yml
  Resources/Textures/_Impstation/Actions/Kodepiia.rsi/kodepiia_eat.png
  Resources/Textures/_Impstation/Actions/Kodepiia.rsi/kodepiia_shapeshift.png
  Resources/Textures/_Impstation/Actions/Kodepiia.rsi/kodepiia_sing.png
  Resources/Textures/_Impstation/Actions/Kodepiia.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/S, Changes: Port

#3439 v-rex juump. then juump
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/vrex.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged

#3452 Update banana.yml
  Resources/Maps/_Impstation/banana.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L, S: Untriaged

#3453 [Barratry/Core/Elkridge/Packed/Reach] Offmed map updates
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Maps/_Impstation/reach.yml
Labels: Changes: No C#, Changes: Map, size/L, S: Untriaged

#3441 fix replicators and drones responding incorrectly to low-gravity
  Resources/Prototypes/_Wizden/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged

#3386 Species YML touchups
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/apid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gastropoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gray.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: Changes: No C#, size/S, Changes: Upstream, Changes: Port, Do Not Merge

#3402 signature font/color selection popup fix
  Content.Shared/_DV/Paper/SignatureWriterSystem.cs
Labels: S: Needs Review, size/XS, S: Untriaged, Changes: Port

#3420 syndicate shuttle pilot shouldn't sleep
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/mindlessclones/basemindlessclone.yml
Labels: S: Needs Review, size/S, Changes: Upstream, Changes: Port

#3438 Cold lightbulbs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Resources/Locale/en-US/_Impstation/light/components/powered-light-component.ftl
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/tcktck.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/floor_lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: No C#, size/M, Changes: Upstream

#3437 Bomb Pizza
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
  Resources/Textures/_Impstation/Objects/Consumable/Food/Baked/pizza.rsi/bombpizza.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Baked/pizza.rsi/bombpizza_fire.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Food/Baked/pizza.rsi/plate.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/M, Changes: Port

#3458 Update Luna for offmed
  Resources/Maps/_Impstation/luna.yml
  Resources/Prototypes/_Impstation/Maps/luna.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L, S: Untriaged

#3455 fix decapoids being too easy to gib on meatspikes
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged

#3460 Offmed Pathway
  Resources/Maps/_Impstation/anthill.yml
  Resources/Prototypes/_Impstation/Maps/anthill.yml
Labels: Changes: No C#, Changes: Map, size/XL

#3468 Don't have CPR almost always cause broken ribs
  Resources/Prototypes/_Offbrand/base_mob.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged, Changes: Port

#3473 Make offbrand murder easier to contend with
  Content.Shared/StatusEffectNew/StatusEffectSystem.Relay.cs
  Content.Shared/_Offbrand/StatusEffects/DisruptOnAttackStatusEffectComponent.cs
  Content.Shared/_Offbrand/StatusEffects/DisruptOnAttackStatusEffectSystem.cs
  Content.Shared/_Offbrand/Wounds/BrainDamageOnDamageComponent.cs
  Content.Shared/_Offbrand/Wounds/BrainDamageOnDamageSystem.cs
  Content.Shared/_Offbrand/Wounds/HeartDamageOnDamageComponent.cs
  Content.Shared/_Offbrand/Wounds/HeartDamageOnDamageSystem.cs
  Content.Shared/_Offbrand/Wounds/HeartSystem.cs
  Content.Shared/_Offbrand/Wounds/MaximumDamageSystem.cs
  Content.Shared/_Offbrand/Wounds/ThresholdHelpers.cs
  Content.Shared/_Offbrand/Wounds/UniqueWoundOnDamageSystem.cs
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Prototypes/_Offbrand/status_effects.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Upstream, Changes: Port, offmed

#3290 Add new Vault access to heads of staff, add new HoP door remote without vault and captain access
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/_Impstation/access/accesses.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Impstation/Access/command.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Service/hospitality_director.yml
  Resources/migration_imp.yml
Labels: S: Needs Review, size/S, Changes: Upstream, S: Being Discussed

#3431 slipping in from planet teo: the banana deer !
  Resources/Audio/_Impstation/Animals/attributions.yml
  Resources/Audio/_Impstation/Animals/bananadeer_eee.ogg
  Resources/Audio/_Impstation/Animals/bananadeer_euh.ogg
  Resources/Locale/en-US/_Impstation/accent/animals.ftl
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_Impstation/Catalog/Cargo/imp_cargo_livestock.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/imp_npc.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/banana_deer.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Impstation/Voice/banana_deer.yml
  Resources/Textures/_Impstation/Mobs/Animals/banana_deer.rsi/banana_deer.png
  Resources/Textures/_Impstation/Mobs/Animals/banana_deer.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Animals/banana_deer.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio, S: Needs Review, size/M

#3143 one new roundend audio
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/odo.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio, size/XS, S: Untriaged, Changes: Upstream

#3475 Hopefully final pass before Offbrand merge
  Content.Shared/_Offbrand/IV/IVSourceComponent.cs
  Content.Shared/_Offbrand/IV/IVSystem.cs
  Content.Shared/_Offbrand/Wounds/HeartSystem.cs
  Content.Shared/_Offbrand/Wounds/HeartrateComponent.cs
  Resources/Locale/en-US/_Offbrand/popups.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Prototypes/_Offbrand/circuitboards.yml
  Resources/Prototypes/_Offbrand/iv_bags.yml
  Resources/Prototypes/_Offbrand/lathe_recipes.yml
  Resources/Textures/_Offbrand/iv_stand.rsi/hooked.png
  Resources/Textures/_Offbrand/iv_stand.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3476 Swap blood pressure values in health analyzer
  Resources/Locale/en-US/_Offbrand/health-analyzer.ftl
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Port

#3480 Offbrand pass 2: Mostly bugfixes
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/_Offbrand/Wounds/BrainDamageSystem.cs
  Content.Shared/_Offbrand/Wounds/BrainDamageThresholdsSystem.cs
  Content.Shared/_Offbrand/Wounds/HealthRankingSystem.cs
  Content.Shared/_Offbrand/Wounds/ShockThresholdsComponent.cs
  Content.Shared/_Offbrand/Wounds/ShockThresholdsSystem.cs
  Content.Shared/_Offbrand/Wounds/ThresholdHelpers.cs
  Resources/Locale/en-US/_Offbrand/alerts.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_Offbrand/alerts.yml
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Textures/_Offbrand/Alerts/pain.rsi/meta.json
  Resources/Textures/_Offbrand/Alerts/pain.rsi/pain_unconscious.png
Labels: Changes: Sprites, S: Needs Review, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3481 Offbrand pass 3: I hate surgery I hate surgery I hate surgery I
  Content.Client/_Offbrand/Surgery/SurgeryGuideBoundUserInterface.cs
  Content.Client/_Offbrand/Surgery/SurgeryGuideMenu.xaml
  Content.Client/_Offbrand/Surgery/SurgeryGuideMenu.xaml.cs
  Content.Client/_Offbrand/Surgery/SurgeryGuideTargetSystem.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.Server/Construction/ConstructionSystem.Guided.cs
  Content.Server/_Offbrand/Surgery/SetNode.cs
  Content.Server/_Offbrand/Surgery/SurgeryGuideTargetSystem.cs
  Content.Shared/Construction/ConstructionGraphNode.cs
  Content.Shared/Construction/Prototypes/ConstructionPrototype.cs
  Content.Shared/_Offbrand/Surgery/HeartDamage.cs
  Content.Shared/_Offbrand/Surgery/SharedSurgeryGuideTargetSystem.cs
  Content.Shared/_Offbrand/Surgery/SurgeryGuideTargetComponent.cs
  Resources/Locale/en-US/_Offbrand/construction.ftl
  Resources/Locale/en-US/_Offbrand/surgery.ftl
  Resources/Locale/en-US/_Offbrand/verbs.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Prototypes/_Offbrand/surgery_constructions.yml
  Resources/Prototypes/_Offbrand/surgery_graph.yml
Labels: Changes: UI, S: Needs Review, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3483 Xeno Medical Refresh
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/XL

#3479 Heretic Hotfix: Nerf Flesh grasp. Bonus changeling futureproofing
  Content.Server/_Goobstation/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticCombatMarkSystem.cs
Labels: size/S, Changes: Port

#3485 Minor Pathway Stuff
  Resources/Maps/_Impstation/anthill.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#3487 Offbrand pass 4: I love immediate feedback
  Content.Server/_Offbrand/Wounds/BrainGaspThresholdsSystem.cs
  Content.Server/_Offbrand/Wounds/ShockGaspThresholdsSystem.cs
  Content.Shared/_Offbrand/Wounds/BrainGaspThresholdsComponent.cs
  Content.Shared/_Offbrand/Wounds/ShockGaspThresholdsComponent.cs
  Resources/Locale/en-US/_Offbrand/messages.ftl
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Prototypes/_Offbrand/emotes.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Port

#3489 Offmed bundle 5 - the evil one
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_Offbrand/Surgery/SetNode.cs
  Content.Shared/Construction/Steps/ConstructionGraphStepTypeSerializer.cs
  Content.Shared/_Offbrand/Surgery/TriggerContainerContents.cs
  Content.Shared/_Offbrand/Surgery/WhitelistConstructionGraphStep.cs
  Content.Shared/_Offbrand/Wounds/UnvisitOnAliveSystem.cs
  Resources/Locale/en-US/_Offbrand/surgery.ftl
  Resources/Locale/en-US/_Offbrand/tool_qualities.ftl
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Offbrand/base_mob.yml
  Resources/Prototypes/_Offbrand/borg_modules.yml
  Resources/Prototypes/_Offbrand/lathe_recipes.yml
  Resources/Prototypes/_Offbrand/status_effects.yml
  Resources/Prototypes/_Offbrand/surgery_constructions.yml
  Resources/Prototypes/_Offbrand/surgery_graph.yml
  Resources/Prototypes/_Offbrand/tool_qualities.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Offbrand/borg_module_actions.rsi/meta.json
  Resources/Textures/_Offbrand/borg_module_actions.rsi/operating-room-module.png
  Resources/Textures/_Offbrand/borg_modules.rsi/icon-operating-room.png
  Resources/Textures/_Offbrand/borg_modules.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3499 Marathon and Bagel map fixes
  Resources/Maps/_Impstation/bagel.yml
  Resources/Maps/_Impstation/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/M

#3496 add UnableToWieldComponent
  Content.Shared/_Impstation/UnableToWield/UnableToWieldComponent.cs
  Content.Shared/_Impstation/UnableToWield/UnableToWieldSystem.cs
  Resources/Locale/en-US/unable-to-wield/unable-to-wield.ftl
Labels: S: Untriaged, size/S, Changes: Upstream

#3464 reHash: Return of Hash (The Fellowship of the Hash)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/evac_juicebox.yml
  Resources/Maps/_Impstation/rehash.yml
  Resources/Maps/hash.yml
  Resources/Prototypes/_Impstation/Maps/rehash.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL, Changes: Upstream

#3515 Fix textures pointing to PNGs directly instead of RSI files
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/mothershipcore.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: No C#, S: Needs Review, Changes: Upstream

#3508 Added Imp Comments to an Old PR of Mine
  Resources/Locale/en-US/advertisements/vending/ammo.ftl
  Resources/Locale/en-US/advertisements/vending/donut.ftl
  Resources/Locale/en-US/advertisements/vending/happyhonk.ftl
  Resources/Locale/en-US/advertisements/vending/secdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/sectech.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
Labels: Changes: No C#, size/S, Changes: Upstream

#3474 Ourobros fix
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorComponent.cs
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorSystem.cs
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/ouroboros.yml
Labels: S: Needs Review, S: Untriaged, size/S

#3495 add TooShortForUIComponent
  Content.Shared/_Impstation/TooShortForUI/TooShortForUIComponent.cs
  Content.Shared/_Impstation/TooShortForUI/TooShortForUISystem.cs
  Resources/Locale/en-US/too-short-for-ui/too-short-for-ui.ftl
Labels: S: Needs Review, size/S, Changes: Upstream

#3517 Tools and paper for cargo cyborg
  Resources/Locale/en-US/_Impstation/borg/borg.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Robotics/Borg/borg_modules.yml
  Resources/Prototypes/_Impstation/borg_types.yml
Labels: Changes: No C#, size/S

#3516 Return of tomato kiss
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/_Impstation/Mobs/Demons/tomatokisser.rsi/inhand-left.png
  Resources/Textures/_Impstation/Mobs/Demons/tomatokisser.rsi/inhand-right.png
  Resources/Textures/_Impstation/Mobs/Demons/tomatokisser.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3519 Fix Heretic ghouling, further future proof sacrificing
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
Labels: Changes: Port

#3521 her name is POLY!!!!!!!!!!!!!!!!!!!!!
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#, S: Needs Review, size/XS, Changes: Upstream
