Repository impstation/imp-station-14, pull requests merged in 2025-10, with the labels that each got.

#3527 Hydra Revert
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3513 Ambuzol now requires Phalanxamine
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, size/XS, Changes: Upstream

#3326 Fix Dungeon loot & Airlock/Window placement
  Content.Server/Procedural/DungeonJob/DungeonJob.EntityTableDunGen.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.EntranceFlank.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.ExternalWindow.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.Junction.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.RoomEntrance.cs
  Content.Shared/Procedural/PostGeneration/EntranceFlankDunGen.cs
  Content.Shared/Procedural/PostGeneration/ExternalWindowDunGen.cs
  Content.Shared/Procedural/PostGeneration/JunctionDunGen.cs
  Content.Shared/Procedural/PostGeneration/RoomEntranceDunGen.cs
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
Labels: upstreamable?, S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3528 accessibility: ahelps to not bwoink users by default
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
Labels: Changes: No C#, Changes: UI, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3505 lenses will always at least spawn on the ground no matter what
  Content.Server/_Impstation/StartWithLenses/StartWithLensesSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#3428 Adds the MedChem HUD
  Resources/Locale/en-US/_Impstation/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/_Impstation/objectives/conditions/steal.ftl
  Resources/Locale/en-US/_Impstation/recipes/tags.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Impstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Impstation/Objectives/traitor.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/equipped-EYES-dog.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/equipped-EYES-moth.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/medchem.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S, Changes: Upstream

#3524 Cluster 2: The Sequel
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_cluster.yml
  Resources/Maps/_Impstation/cluster.yml
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
  Resources/Prototypes/_Impstation/Maps/cluster.yml
Labels: Changes: Map, S: Needs Review, size/XL, Changes: Upstream

#3531 remove harpyvisuals
  Content.Client/_DV/Harpy/HarpyVisualsComponent.cs
  Content.Shared/_DV/Harpy/HarpyVisualsSystem.cs
  Content.Shared/_DV/Harpy/SharedHarpyVisualsComponent.cs
  Content.Shared/_NF/Clothing/Components/HarpyHideWingsComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
Labels: S: Untriaged, size/S, Changes: Upstream, Changes: Port

#3537 Adds shock blankets to the game, and puts them in the med and sec dro…
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-decapoid.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-diona.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-goblin.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-gray.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-moth.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-ungu.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/blanketshock.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3544 Remove unnecessary attributes from ungu fixture
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/ungu.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged
