Repository impstation/imp-station-14, pull requests merged in 2025-06, with the labels that each got.

#2632 Hash Update
  Resources/Maps/_Impstation/Shuttles/hash_evac.yml
  Resources/Maps/_Impstation/hash.yml
Labels: Changes: No C#, Changes: Map

#2633 Refsdal updates
  Resources/Maps/_Impstation/refsdal.yml
  Resources/Prototypes/_Impstation/Maps/refsdal.yml
Labels: Changes: No C#, Changes: Map

#2626 Novice's mark
  Resources/Locale/en-US/_Impstation/obvious.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_DV/Roles/Jobs/Cargo/cargo_assistant.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_Impstation/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Impstation/Clothing/Neck/Misc/novicemark.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/novicemark.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/novicemark.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2652 Barratry/Core/Elkridge/Meta/Packed/Reach/Union updates
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Maps/_Impstation/reach.yml
  Resources/Maps/_Impstation/union.yml
Labels: Changes: No C#, Changes: Map

#2607 Resprite lockboxes to match current sprite style
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/base.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/closed.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/icon.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/locked.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/open.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/overlay-closed.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/overlay-open.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/overlay.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/sparking.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/unlocked.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/lockbox.rsi/welded.png
Labels: Changes: No C#, Changes: Sprites, Changes: Map, Changes: UI, Changes: Audio

#2661 Update box again
  Resources/Maps/_Impstation/box.yml
Labels: Changes: No C#, Changes: Map

#2663 Quick replicators fix
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: Changes: No C#

#2666 refsdal silos & order consoles
  Resources/Maps/_Impstation/refsdal.yml
  Resources/Prototypes/_Impstation/Maps/refsdal.yml
Labels: Changes: No C#, Changes: Map

#2667 Departmental order consoles print slips
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoOrderRow.xaml
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Content.Shared/Cargo/Components/CargoSlipComponent.cs
  Content.Shared/Cargo/Prototypes/CargoAccountPrototype.cs
  Resources/Audio/Effects/Cargo/attributions.yml
  Resources/Audio/Effects/Cargo/beep.ogg
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/Catalog/cargo_accounts.yml
  Resources/Prototypes/Entities/Objects/Misc/acquisition_slips.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/SoundCollections/machines.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_header.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_words.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/computers.rsi/request copy.png
Labels: Changes: Sprites, Changes: UI, Changes: Audio

#2674 Six map updates
  Resources/Maps/_Impstation/hash.yml
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2675 istg.
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2673 lobby art update
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/KAASI_DOSHI.webp
Labels: Changes: No C#

#2644 Cozy Computer/Television Lighting (+bonus lamp!)
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/station_map.yml
  Resources/Prototypes/_EE/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/monitors_televisions.yml
Labels: Changes: No C#

#2664 Add a fancy purple phone to the wizard's shuttle
  Resources/Locale/en-US/_Impstation/prayers/prayers.ftl
  Resources/Maps/_Impstation/Shuttles/wizard.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Textures/_Impstation/Objects/Fun/wizardphone.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Fun/wizardphone.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Map

#2665 BKA
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Basic/apid_pka.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Basic/apid_kinetic_accelerator.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites

#2586 add door alarms to high sec doors
  Content.Server/_Impstation/Doors/DoorAlarmWireAction.cs
  Content.Shared/Doors/AirlockWireStatus.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/_Impstation/Doors/Components/DoorAlarmComponent.cs
  Content.Shared/_Impstation/Doors/Systems/SharedDoorSystem.Alarm.cs
  Resources/Audio/_Impstation/Machines/attributions.yml
  Resources/Audio/_Impstation/Machines/door_alarm.ogg
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: Audio

#2640 hair adjustments
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggy.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggylonger.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggymessy.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susie.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susienobangs.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/shaggylongerthaven.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/shaggythaven.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/susienobangsthaven.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/susiethaven.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/thavenshaggy.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/thavenshaggylonger.png
Labels: Changes: No C#, Changes: Sprites

#2639 Couple sound things
  Resources/Audio/_Impstation/Effects/Emotes/wetblink.ogg
  Resources/Audio/_Impstation/Kodepiia/kodedeath1.ogg
  Resources/Audio/_Impstation/Kodepiia/kodedeath2.ogg
Labels: Changes: No C#, Changes: Audio

#2637 Add Impstation Anniversary holiday
  Resources/Locale/en-US/_Impstation/datasets/figurines.ftl
  Resources/Locale/en-US/_Impstation/datasets/names/blunts.ftl
  Resources/Locale/en-US/_Impstation/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Impstation/Datasets/Names/blount.yml
  Resources/Prototypes/_Impstation/Datasets/figurines.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/Random/bongs.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/bongs.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/joints.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Impstation/holidays.yml
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo_normal.png
  Resources/Textures/_Floof/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Floof/Structures/Wallmounts/posters.rsi/poster34_legit.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/bongy-inhand.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/bongy.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/gay-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/gay-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/gay.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/slime-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/slime-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/slime.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/space-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/space-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/space.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/whitecell-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/whitecell-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/whitecell.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/wizard-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/wizard-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Bongs/bongs.rsi/wizard.png
  Resources/Textures/_Impstation/Objects/Fun/figurines.rsi/goldenfin.png
  Resources/Textures/_Impstation/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_gnome-inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_gnome-inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_gnome.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_gray_jumbo-inhand.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_gray_jumbo.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/crate.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/crate_door.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/crate_icon.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/crate_open.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/sparking.png
  Resources/Textures/_Impstation/Objects/Storage/anniversarycrate.rsi/welded.png
Labels: Changes: No C#, Changes: Sprites

#2636 minor grammatical/clarity fixes
  Resources/Locale/en-US/_Goobstation/Heretic/game-ticking/game-presets/preset-heretic.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_DV/Entities/Structures/benches/benches.yml
Labels: Changes: No C#

#2646 recolours the syndicat to Impstation bloodred
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_Impstation/Mobs/Pets/cats.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Pets/cats.rsi/syndicat.png
  Resources/Textures/_Impstation/Mobs/Pets/cats.rsi/syndicat_dead.png
Labels: Changes: No C#, Changes: Sprites

#2609 Detective deerstalker
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/detective.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/deerstalker.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/deerstalker.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/deerstalker.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2589 Radar blips port real
  Content.Client/Shuttles/BUI/RadarConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Radar/ClientRadarBlipSystem.cs
  Content.Client/_NF/Radar/ShuttleNavConsole.xaml.cs
  Content.Server/_NF/Radar/RadarBlipComponent.cs
  Content.Server/_NF/Radar/RadarBlipStealthComponent.cs
  Content.Server/_NF/Radar/ServerRadarBlipSystem.cs
  Content.Shared/_NF/Radar/RadarMessages.cs
  README.md
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: Changes: UI

#2688 reverts and annotates role time changes
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: Changes: No C#

#2682 2 tiny accent/word replacement tweaks
  Resources/Locale/en-US/_Impstation/accent/nocontractions.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/_Impstation/Accents/nocontractions_replacements.yml
Labels: Changes: No C#

#2686 Update pins
  Resources/Locale/en-US/_Impstation/obvious.ftl
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#

#2689 cmo no longer has two survival boxes
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#2690 imp species can trigger blood reactions
  Resources/Prototypes/XenoArch/triggers.yml
Labels: Changes: No C#

#2680 Cleanup wall recharger prototype, sprite files, and deconstruction steps
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/utilities/wall_recharger.yml
  Resources/Textures/Structures/Power/wall_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/full.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/wall_recharger.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/assembly.png
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/electronics.png
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Power/wall_recharger.rsi/wires.png
Labels: Changes: No C#, Changes: Sprites

#2555 Muldoon & Irwizine
  Content.Shared/_Impstation/EntityEffects/Effects/FactionChange.cs
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/tranqshot.ogg
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/_Impstation/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Impstation/reagents/physical-desc.ftl
  Resources/Locale/en-US/_Impstation/research/technologies.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/chemdart.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/dart.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Snipers/Snipers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Impstation/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/dartirwizine.rsi/base-spent.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/dartirwizine.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/dartirwizine.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/dartirwizine.rsi/tip.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/darttranq.rsi/base-spent.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/darttranq.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/darttranq.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/darttranq.rsi/tip.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/tranqrifle.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Audio

#2694 Increase interact delay on annoying sounds for windows, blast door, and shutters
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: No C#

#2696 (Craftable) Administration Hud Eyepatch + other eyepatch tweaks
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/eyepatch.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/generic.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/clothing/command_eyepatch.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/clothing/prestige_captains_glasses.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/Clothing/Eyes/Misc/doubleeyepatch.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/capeyepatch.rsi/equipped-EYES-moth.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/capeyepatch.rsi/equipped-EYES-vox.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/capeyepatch.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/capeyepatch.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/capeyepatch.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/commandpatch.rsi/equipped-EYES-moth.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/commandpatch.rsi/equipped-EYES-vox.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/commandpatch.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/commandpatch.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/commandpatch.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/doubleeyepatch.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/doubleeyepatch.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/doubleeyepatch.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2678 Straight from Planet Teo, the Butterfly Orchid!
  Resources/Locale/en-US/_Impstation/reagents/butterflies.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Impstation/reagents/physical-desc.ftl
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Mobs/Animals/butterflybigger.rsi/butterflybigger.png
  Resources/Textures/_Impstation/Mobs/Animals/butterflybigger.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Animals/butterflybigger.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/produce.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butter_orchid.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/produce.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/stage-4.png
Labels: Changes: No C#, Changes: Sprites

#2701 lowers the difficulty of most traitor objectives
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: No C#

#2700 fixed some of the gnome child yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#

#2714 Meta/Union minor updates
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/union.yml
Labels: Changes: No C#, Changes: Map

#2709 Migrate Impstation bounties to _Impstation namespace
  Resources/Locale/en-US/_Impstation/cargo/bounties.ftl
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Impstation/Catalog/Bounties/bounties.yml
Labels: Changes: No C#

#2715 placeholder inhands for all imp specific ammo sprites
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag_top_mounted.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag_top_mounted.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag_top_mounted.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/LightRifle/light_rifle_speed_loader.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/LightRifle/light_rifle_speed_loader.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/LightRifle/light_rifle_speed_loader.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-left-ammo.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-left-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-left-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-right-ammo.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-right-mag.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/inhand-right-stripe.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2716 Make coins out of things again
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
Labels: Changes: No C#

#2706 Cleaning Update
  Resources/Locale/en-US/reagents/meta/cleaning.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/janitorial.yml
  Resources/Textures/_Wizden/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Wizden/Objects/Storage/boxes.rsi/soap.png
  Resources/migration.yml
Labels: Changes: No C#, Changes: Sprites

#2513 Floor Lights
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Shared/Construction/Steps/ConstructionGraphStepTypeSerializer.cs
  Content.Shared/_Impstation/Construction/Steps/RemoveEntityConstructionGraphStep.cs
  Resources/Locale/en-US/_Impstation/construction/steps/arbitrary-remove-construction-graph-step.ftl
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Lighting/floor_lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/structures.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/base.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/baseGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/black.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/blackGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/blue.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/blueGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/broken.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/burned.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/cyan.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/cyanGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/empty.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/exterior.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/exteriorGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/green.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/greenGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/led.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/ledGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/old.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/oldGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/orange.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/orangeGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/pink.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/pinkGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/red.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/redGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/sodium.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/sodiumGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/sun.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/uv.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/uvGlow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/yellow.png
  Resources/Textures/_Impstation/Structures/Lighting/floorlights.rsi/yellowGlow.png
Labels: Changes: Sprites

#2721 Use Impstation sprites for lock box and water tank cargo orders
  Resources/Prototypes/Catalog/Cargo/cargo_lockbox.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
Labels: Changes: No C#

#2718 short construction ui hotfix
  Content.Client/_EE/ShortConstruction/UI/ShortConstructionMenu.xaml.cs
Labels: Changes: UI

#2726 Add missing Imp comments to warden hardsuit changes
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#

#2725 Revert upstream science biohazard locker sprite change, add new generic biohazard locker sprite, remove redundant sprites
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_door.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_jan_open.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_sci.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_sci_door.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_sci_open.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_sec_open.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/bio_viro_open.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2724 Add artifact activation animation to evil skull, readd it to Hummingbird, add skull item inhands
  Resources/Maps/_Impstation/hummingbird.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Machines/morgue.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Textures/_Impstation/Objects/Specific/Xenoarchaeology/skull_artifact.rsi/ano01-inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Xenoarchaeology/skull_artifact.rsi/ano01-inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Xenoarchaeology/skull_artifact.rsi/ano01.png
  Resources/Textures/_Impstation/Objects/Specific/Xenoarchaeology/skull_artifact.rsi/ano01_on.png
  Resources/Textures/_Impstation/Objects/Specific/Xenoarchaeology/skull_artifact.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Map

#2728 "Don't Be Daft" Lobby Art
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/dont_be_daft.webp
  Resources/Textures/_Impstation/LobbyScreens/dont_be_daft.webp.yml
Labels: Changes: No C#

#2733 Remove playtime requirement from Cargo Technician, limit Supply Assistants
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Maps/xeno.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_DV/Maps/submarine.yml
  Resources/Prototypes/_DV/Roles/Jobs/Cargo/cargo_assistant.yml
  Resources/Prototypes/_Harmony/Maps/Eclipse.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
  Resources/Prototypes/_Impstation/Maps/boat.yml
  Resources/Prototypes/_Impstation/Maps/hash.yml
  Resources/Prototypes/_Impstation/Maps/hummingbird.yml
  Resources/Prototypes/_Impstation/Maps/luna.yml
  Resources/Prototypes/_Impstation/Maps/union.yml
Labels: Changes: No C#, Changes: Map

#2708 Replicator resistance, damage, and other related balance changes
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
Labels: Changes: No C#

#2738 Wow Its Box Update I Cant Believe It!
  Resources/Maps/_Impstation/box.yml
Labels: Changes: No C#, Changes: Map

#2735 Fix jumpsuits that have lost foldability
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: No C#

#2740 reduce how much plastic trash recycles into
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: Changes: No C#

#2730 put some services jobs back into civilian
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_Impstation/Roles/departments.yml
  Resources/ServerInfo/_Impstation/Guidebook/Service/Service.xml
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/Boxer.png
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/Chaplain.png
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/Librarian.png
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/Reporter.png
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/Zookeeper.png
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idboxer.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idchaplain.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idcurator.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idlawyer.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idreporter.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idzookeeper.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2727 Cargo bounty console improvements
  Content.Client/Cargo/BUI/CargoBountyConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/BountyEntry.xaml
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
Labels: Changes: UI

#2748 Personal Credit Updates
  Resources/Textures/Clothing/Back/Backpacks/hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hydro.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hydro.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hoods/Coat/hoodcourier.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Soft/couriersoft.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsblack.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsblue.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsbrown.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelscommandblack.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelscommandblue.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsgold.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsgreen.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Heels/heelsred.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/courier.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/courier.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecadet.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechemist.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacedoctor.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spaceengineer.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacegreytider.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacescientist.rsi/meta.json
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Impstation/Markers/jobs.rsi/meta.json
  Resources/Textures/_Impstation/Misc/program_icons.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Gray/eyes.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Gray/headtop.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/chest.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/chest.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Gray/parts.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Thaven/parts.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Mail/mail.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Mail/mail_large.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Medical/defibcompact.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Medical/defibinterdyne.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Medical/defibsyndi.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/interdynechemdispenser.rsi/meta.json
Labels: Changes: No C#

#2746 decapoid markings june
  Resources/Locale/en-US/_Impstation/markings/decapoid.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/decapoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
  Resources/Prototypes/_Impstation/Species/decapoid.yml
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestfledgeling.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestherald.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestjester.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestmalign.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestreclaimer.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/crestwise.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/1.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/10.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/11.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/2.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/3.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/4.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/5.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/6.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/7.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/8.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/9.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/headside.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/larm.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/larm.rsi/pauldroncrystal.png
  Resources/Textures/_Impstation/Mobs/Customization/Decapoid/larm.rsi/pauldronskull.png
Labels: Changes: No C#, Changes: Sprites

#2741 Webclothingplus
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/web.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_web.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloakfancy.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloakfancy.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloakfancy.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloakfancy.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloakfancy.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloaksimple.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloaksimple.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloaksimple.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloaksimple.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/webcloaksimple.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/equipped-OUTERCLOTHING-diona.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/websweater.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/headside.rsi/big.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/headside.rsi/longjaw.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/headside.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/headside.rsi/solifugid.png
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/tail.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Arachnid/tail.rsi/scorpion.png
Labels: Changes: No C#, Changes: Sprites

#2732 a body has been discovered
  Resources/Locale/en-US/_Impstation/station-events/events/vent-pest.ftl
  Resources/Prototypes/Announcers/mesavox.yml
  Resources/Prototypes/Announcers/michael.yml
  Resources/Prototypes/Announcers/neil.yml
  Resources/Prototypes/Announcers/sinister.yml
  Resources/Prototypes/Announcers/tiktok.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Impstation/GameRules/pests.yml
Labels: Changes: No C#

#2762 snakes no longer make doors freak out
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#

#2745 Bedlam rotation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/bedlam.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2765 Bugfixes from Planet Teo!
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/oppa.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/oppa.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/beret_warden.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/biggerfly_orchid.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/butterfly_orchid.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2754 Even more bounty hunter tweaks
  Resources/Maps/_Impstation/Shuttles/ShuttleEvent/heron.yml
  Resources/Prototypes/_Impstation/Antags/bountyhunter.yml
  Resources/Prototypes/_Impstation/Objectives/bountyHunter.yml
  Resources/Prototypes/_Impstation/Objects/Specific/Bounty Hunter/bounty_hunter_items.yml
Labels: Changes: No C#, Changes: Map

#2768 Change lawyer secoff playtime requirement to security playtime requirement, adjust secoff requirements and sec cadet lockout to be more in-line with other roles
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: Changes: No C#

#2755 update nana and strugglebug
  Resources/Maps/_Impstation/Shuttles/Shipyard/strugglebug.yml
  Resources/Maps/_Impstation/banana.yml
  Resources/Prototypes/_Impstation/Catalog/Shipyard/civilian.yml
Labels: Changes: No C#, Changes: Map

#2757 Reduce requirements of salvage bounties
  Resources/Prototypes/Catalog/Bounties/salvage_jobs.yml
Labels: Changes: No C#

#2779 adds salvage job boards to xeno and box
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2773 Makes foam grenades fast again
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: No C#

#2770 Courier module
  Resources/Locale/en-US/_Impstation/borg/borg.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Robotics/Borg/borg_modules.yml
  Resources/Prototypes/_Impstation/borg_types.yml
  Resources/Textures/_Impstation/Interface/Actions/actions_borg.rsi/courier-module.png
  Resources/Textures/_Impstation/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Robotics/borgmodules.rsi/cargo.png
  Resources/Textures/_Impstation/Objects/Specific/Robotics/borgmodules.rsi/icon-courier.png
  Resources/Textures/_Impstation/Objects/Specific/Robotics/borgmodules.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2781 CAROUSEL REMINDED ME THERE WERE ALREADY PENGUINS IN THE GAME LOL
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Impstation/Voice/speech_sounds.yml
Labels: Changes: No C#

#2783 Update Elkridge genpop (and salvage job boards for all maps)
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Maps/_Impstation/reach.yml
  Resources/Maps/_Impstation/union.yml
  Resources/Prototypes/_Impstation/Maps/union.yml
Labels: Changes: No C#, Changes: Map

#2784 Update Reach/Elkridge genpop, derotate Meta
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/reach.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2790 Gumball QOL
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/candy.yml
Labels: Changes: No C#

#2736 Add additional rp prompts for wizards
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Objectives/wizard.yml
Labels: Changes: No C#

#2786 oppas and dragons have expressions for real this time it's real it's real
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/oppa.yml
Labels: Changes: No C#

#2787 AIBee
  Resources/Locale/en-US/_Impstation/silicons/station-ai.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_Impstation/AppearanceCustomization/station_ai.yml
  Resources/Textures/_Impstation/Mobs/Silicon/holograms.rsi/bee.png
  Resources/Textures/_Impstation/Mobs/Silicon/holograms.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Silicon/station_ai.rsi/ai_bee.png
  Resources/Textures/_Impstation/Mobs/Silicon/station_ai.rsi/ai_dead_bee.png
  Resources/Textures/_Impstation/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2624 De-genericize material descriptions
  Resources/Locale/en-US/tips.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Materials/materials.yml
Labels: Changes: No C#

#2794 Resprite genpop closets for real
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_1.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_2.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_3.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_4.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_5.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_6.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_7.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_door_8.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/genpop_open.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2791 Resprite salvage barrels
  Resources/Prototypes/Entities/Structures/Storage/barrels.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/immovable_rod.yml
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/black.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/blue.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/cyan.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/gray.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/green.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/orange.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/pink.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/purple.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/radioactive.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/red.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/white.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/yellow.png
  Resources/Textures/_Impstation/Structures/Storage/plasticbarrel.rsi/icon.png
  Resources/Textures/_Impstation/Structures/Storage/plasticbarrel.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2796 Minor Train update
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2777 Chef Cubes & Blasting Ancestor Cube Zombification
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/rehydrateable.yml
  Resources/Textures/_Impstation/Objects/Misc/chefcubes.rsi/box.png
  Resources/Textures/_Impstation/Objects/Misc/chefcubes.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2810 Add Reporter and Pyschologist to Saltern
  Resources/Maps/_Impstation/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: No C#, Changes: Map

#2808 more computer lights; removed hotplate power switch
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
Labels: Changes: No C#

#2812 Fx secret reinforced door recipe name
  Resources/Locale/en-US/_Impstation/recipes/recipes.ftl
  Resources/Prototypes/_Impstation/Recipes/Construction/structures.yml
Labels: Changes: No C#

#2811 Add way more reagents to salvage chem barrels
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Structures/Storage/barrels.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/barrels.yml
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/brown.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/green.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/orange.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/pink.png
  Resources/Textures/_Impstation/Structures/Storage/barrels.rsi/purple.png
Labels: Changes: No C#, Changes: Sprites

#2820 let me make plastic knives at the service techfab
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/cooking.yml
Labels: Changes: No C#

#2798 Remove evac shuttle ion storm law
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: Changes: No C#

#2826 Add an empty storage tank order to Cargo, cleanup tanks.rsi
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_materials.yml
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/fueltank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/generictank-1.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/generictank.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/highfueltank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/hightank-1.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/hightank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/hightank-3.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/hightank-4.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/hightank-5.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/highwatertank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/highwatertank.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/tank-1.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/tank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/tank-3.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/tank-4.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/tank-5.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/watertank-2.png
  Resources/Textures/_Impstation/Structures/Storage/tanks.rsi/watertank.png
Labels: Changes: No C#, Changes: Sprites

#2669 Add the S.A.L.V.O hud
  Content.Client/_Impstation/SalvoHud/SalvoHudScanOverlay.cs
  Content.Client/_Impstation/SalvoHud/ShowMaterialCompositionIconsSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Impstation/SalvoHud/ActivateSalvoHudEvent.cs
  Content.Shared/_Impstation/SalvoHud/MaterialCompositionIconPrototype.cs
  Content.Shared/_Impstation/SalvoHud/SharedSalvohudSystem.cs
  Content.Shared/_Impstation/SalvoHud/ShowMaterialCompositionIconsComponent.cs
  Content.Shared/_Impstation/SalvoHud/ShowStaticPriceIconComponent.cs
  Content.Shared/_Impstation/SalvoHud/StaticPriceIconPrototype.cs
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/salvage.yml
  Resources/Prototypes/_Impstation/Shaders/shaders.yml
  Resources/Prototypes/_Impstation/StatusIcon/salvage.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/salvohud.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/salvohud.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/salvohud.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/salvohud.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/salvohud.rsi/meta.json
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Diamond.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Glass.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Gold.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Plasma.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Plastic.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Silver.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Steel.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/Uranium.png
  Resources/Textures/_Impstation/Interface/Misc/salvage_icons.rsi/meta.json
  Resources/Textures/_Impstation/Shaders/salvo_scan.swsl
Labels: Changes: Sprites, Changes: Shaders

#2804 Replicator Balance
  Content.Client/_Impstation/Administration/Components/ReplicatorSignComponent.cs
  Content.Client/_Impstation/Administration/Systems/ReplicatorSignSystem.cs
  Content.Server/_Impstation/Administration/Components/ReplicatorSignComponent.cs
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/_Impstation/Administration/Components/SharedReplicatorSignComponent.cs
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/beam_repli2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/impact_repli2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/muzzle_repli2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_sign.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_sign.rsi/sign.png
Labels: Changes: No C#, Changes: Sprites

#2806 Moth Metabolism Changes
  Resources/Locale/en-US/_Impstation/reagents/meta/fun.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
Labels: Changes: No C#

#2802 M-1 Recharge Change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#

#2815 Mule's Leg
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/mule.ogg
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/dmr.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Rifles/mule.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2823 remove thaven "secret moods" mood + rewrite thaven mood rules
  Resources/Prototypes/_Impstation/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Thaven.xml
Labels: Changes: No C#

#2843 PSA changes
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/devices.yml
Labels: Changes: No C#

#2844 pen holder and make paper bins craftable
  Resources/Prototypes/Entities/Structures/Storage/paper_bin.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Storage/penholder.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/storage/paperbin.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/storage/penholder.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/storage.yml
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/penholder0.png
  Resources/Textures/_Impstation/Objects/Storage/penholder.rsi/penholder1.png
Labels: Changes: No C#, Changes: Sprites

#2846 Robot Alchemic Drive round-end announcements
  Resources/Audio/_Impstation/Animals/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/nanaostorment.ogg
  Resources/Audio/_Impstation/RoundEnd/propermeal.ogg
  Resources/Audio/_Impstation/RoundEnd/specialstew.ogg
  Resources/Audio/_Impstation/RoundEnd/vegetables.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio

#2849 Packed Genpop
  Resources/Maps/_Impstation/packed.yml
Labels: Changes: No C#, Changes: Map

#2552 Ghost artifact and anomaly teleport (for real this time)
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/name_identifier_groups.yml
Labels: Changes: No C#

#2857 things carps can bite update
  Resources/Prototypes/ai_factions.yml
Labels: Changes: No C#

#2865 fix git
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#

#2868 add perms to labeler
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#

#2838 fix inert subjuzine guidebook text
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
Labels: Changes: No C#

#2870 dv labeler lied to me
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#, S: Needs Review

#2878 Minor Omega and Hummingbird updates
  Resources/Maps/_Impstation/hummingbird.yml
  Resources/Maps/_Impstation/omega.yml
Labels: Changes: No C#, Changes: Map

#2856 Add a disclaimer to the records tab in character creation
  Content.Client/_CD/Records/UI/RecordEditorGui.xaml
  Resources/Locale/en-US/_CD/records/editor.ftl
Labels: Changes: No C#, Changes: UI

#2539 PG accent
  Content.Server/_Impstation/Speech/Components/PGAccentComponent.cs
  Content.Server/_Impstation/Speech/EntitySystems/PGAccentSystem.cs
  Resources/Locale/en-US/_Impstation/accent/pg.ftl
  Resources/Locale/en-US/_Impstation/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/_Impstation/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/_Impstation/Accents/pg_replacements.yml
  Resources/Prototypes/_Impstation/Traits/speech.yml
  Resources/Prototypes/_Impstation/status_effects.yml
Labels: S: Needs Review

#2824 Irwizine and Muldoon Tweaks
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/chemdart.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Snipers/Snipers.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#

#2829 Give Research Assistant the Supply Assistant treatment
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Maps/xeno.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/_Harmony/Maps/Eclipse.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
  Resources/Prototypes/_Impstation/Maps/boat.yml
  Resources/Prototypes/_Impstation/Maps/hash.yml
  Resources/Prototypes/_Impstation/Maps/hummingbird.yml
  Resources/Prototypes/_Impstation/Maps/union.yml
Labels: Changes: No C#, Changes: Map

#2830 lowpop un-gamemodes
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-extended-lowpop.ftl
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-survival-lowpop.ftl
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-thief
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-thief-lowpop.ftl
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-traitor-lowpop.ftl
  Resources/Prototypes/_Goobstation/Heretic/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/game_presets.yml
  Resources/Prototypes/_Impstation/GameRules/events.yml
  Resources/Prototypes/_Impstation/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#

#2831 Make welding tools spillable
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/welders.yml
Labels: Changes: No C#

#2832 new cmo clothing
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/clothing.yml
  Resources/Textures/_Impstation/Clothing/Head/Misc/cmo_clip.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/cmo_clip.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/cmo_clip.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncmo.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_casual.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_casual.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_casual.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_casual.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_formal.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_formal.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_formal.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/cmo_formal.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_casual.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_casual.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_casual.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_casual.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_formal.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_formal.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_formal.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_formal.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_scrubs.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_scrubs.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_scrubs.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_scrubs.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/cmo_scrubs.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2837 Port Jermov Lawset
  Resources/Locale/en-US/_Impstation/station-laws/laws.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/silicon.yml
  Resources/Prototypes/_Impstation/silicon-laws.yml
Labels: Changes: No C#

#2842 Blaster Magnum Changes
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/blasters.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/blasterbolts.yml
Labels: Changes: No C#

#2860 heretic book sensor
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-side.ftl
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
Labels: Changes: No C#

#2873 Add a delay to equipping/unequipping hardsuits.
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#

#2658 Pleebnars-little green alien pest
  Content.Client/_Impstation/Pleebnar/PleebnarTelepathyBoundUserInterface.cs
  Content.Client/_Impstation/Pleebnar/PleebnarTelepathyWindow.xaml
  Content.Client/_Impstation/Pleebnar/PleebnarTelepathyWindow.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Impstation/Pleebnar/PleebnarGibSystem.cs
  Content.Server/_Impstation/Pleebnar/PleebnarTelepathySystem.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarGibActionComponent.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarGibbableComponent.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarMindShieldComponent.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarTelepathyActionComponent.cs
  Content.Shared/_Impstation/Pleebnar/PleebnarVisionPrototype.cs
  Content.Shared/_Impstation/Pleebnar/SharedPleebnarGibSystem.cs
  Content.Shared/_Impstation/Pleebnar/SharedPleebnarTelepathySystem.cs
  Resources/Audio/_Impstation/Animals/attributions.yml
  Resources/Audio/_Impstation/Animals/pleebnar_scream.ogg
  Resources/Audio/_Impstation/Animals/pleebnar_speak.ogg
  Resources/Audio/_Impstation/Animals/pleebnar_squeak.ogg
  Resources/Audio/_Impstation/Animals/pleebnar_weird.ogg
  Resources/Locale/en-US/_Impstation/accent/animals.ftl
  Resources/Locale/en-US/_Impstation/pleebnar/pleebnar-vision.ftl
  Resources/Locale/en-US/_Impstation/pleebnar/pleebnar.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Impstation/Accents/full_replacements.yml
  Resources/Prototypes/_Impstation/Actions/pleebnar.yml
  Resources/Prototypes/_Impstation/Body/Organs/pleebnar.yml
  Resources/Prototypes/_Impstation/Body/Prototypes/Animal/pleebnar.yml
  Resources/Prototypes/_Impstation/GameRules/pests.yml
  Resources/Prototypes/_Impstation/Pleebnars/Pleebnar_Visions.yml
  Resources/Prototypes/_Impstation/Pleebnars/Pleebnars.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_sounds.yml
  Resources/Textures/_Impstation/Mobs/Aliens/pleebnar.rsi/0-equipped-HELMET.png
  Resources/Textures/_Impstation/Mobs/Aliens/pleebnar.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/pleebnar.rsi/pleebnar.png
  Resources/Textures/_Impstation/Mobs/Aliens/pleebnar.rsi/pleebnar_harm.png
Labels: Changes: Sprites, Changes: UI, Changes: Audio, S: Needs Review

#2859 thaven are now affected by gas
  Resources/Prototypes/Reagents/gases.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Thaven.xml
Labels: Changes: No C#, S: Needs Review

#2861 Replicator Mechanic/Polish Update
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/_Impstation/Replicator/ReplicatorComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestComponent.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-actions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-nest.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-tile.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Textures/_Impstation/Effects/teleportvfx.rsi/meta.json
  Resources/Textures/_Impstation/Effects/teleportvfx.rsi/replicatorvfx.png
  Resources/Textures/_Impstation/Interface/Actions/replicator_level1.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_double_edge_E.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_double_edge_N.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_double_edge_S.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_double_edge_W.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_single_edge_NE.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_single_edge_NW.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_single_edge_SE.png
  Resources/Textures/_Impstation/Mobs/Replicator/Tile/tile_single_edge_SW.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_spore.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall0.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall1.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall4.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall5.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall6.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/wall7.png
Labels: Changes: Sprites

#2890 Luna fix
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2886 Xeno and Box mapping updates... part 34!
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2880 Bedlam sentry turrets
  Resources/Maps/_Impstation/bedlam.yml
Labels: Changes: No C#, Changes: Map

#2891 Immovable Baguette
  Resources/Audio/_Impstation/Effects/Happy_Day_in_Paris.ogg
  Resources/Locale/en-US/_Impstation/immovable-rod/immovable-rod.ftl
  Resources/Locale/en-US/_Impstation/station-events/events/immovable-baguette.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/_Impstation/GameRules/meteorswarms.yml
Labels: Changes: No C#, Changes: Audio

#2893 Replicator "Final" Update
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestComponent.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Resources/Audio/_Impstation/Misc/attributions.yml
  Resources/Audio/_Impstation/Misc/replicator_sfx1.ogg
  Resources/Audio/_Impstation/Misc/replicator_sfx2.ogg
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-actions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-tile.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tileset.rsi/replicator-tile-anim.png
Labels: Changes: Sprites, Changes: Audio

#2884 Further Irwizine and Dart Tweaks; description fixing addition.
  Resources/Locale/en-US/_Impstation/reagents/meta/fun.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/chemdart.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
Labels: Changes: No C#

#2855 she randomweight on my markingprototype till i randomhumanoidcharacterappearance
  Content.Server/Humanoid/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingPoints.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_Impstation/Species/kodepiia.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
Labels: S: Needs Review

#2885 GX-14 Liquidator
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/Admin/liquidator.yml
Labels: Changes: No C#, Changes: Map

#2767 ZOMBIES RULES: We Gotta Rewrite 'Em
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/_Impstation/Guidebook/Antagonist/Zombies.xml
Labels: Changes: No C#

#2879 Port for DEN plushies / squeaky toys
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/teddybear.yml
  Resources/Prototypes/_DEN/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DEN/Palettes/teddybear.yml
  Resources/Prototypes/_DEN/Palettes/toy.yml
  Resources/Prototypes/_DEN/tags.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/prizeticket.yml
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/equipped-NECK.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/icon.png
  Resources/Textures/_DEN/Clothing/Neck/Misc/teddyribbon.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/littlesteve.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/smileyball.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/plush_heart.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent_muzzle.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_accent_plain.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_base_plaid.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon-inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon-inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/teddybear.rsi/teddybear_ribbon.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/icon.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/meta.json
  Resources/Textures/_DEN/Objects/Fun/ufoplushie.rsi/small.png
Labels: Changes: No C#, Changes: Sprites

#2899 I FUCKING FORGOT TO ADD PLEEBNARS BACK TO THE EVENT TABLE FUUUUUUUUUUUUUUUUUUUUUCK
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: No C#

#2900 The Lecter looks good again
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: No C#

#2889 Nicotine causes minor cellular damage.
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: No C#

#2897 Adjust radiator sprites, add support for pipe layering
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger.rsi/heBend.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger.rsi/heStraight.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt1.rsi/heBend.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt1.rsi/heStraight.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt1.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt2.rsi/heBend.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt2.rsi/heStraight.png
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt2.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2904 update nana
  Resources/Maps/_Impstation/banana.yml
Labels: Changes: No C#, Changes: Map

#2905 liquidator update
  Resources/Maps/_Impstation/Shuttles/Admin/liquidator.yml
Labels: Changes: No C#, Changes: Map

#2908 Add turrets, update Barratry, and derotate Union Station temporarily
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2913 Worn gas tank tweaks
  Resources/Textures/_Impstation/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_double.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_double.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_emergency.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_emergency.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_engineering.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/nitrogen_engineering.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_double.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_double.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_emergency.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_emergency.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_engineering.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Tanks/oxygen_engineering.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2907 moth displacements tweak (not total revert) (don't worry)
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/back.png
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/hand.png
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/jumpsuit-female.png
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/jumpsuit-male.png
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/outerclothing.png
  Resources/Textures/_Impstation/Mobs/Species/Moth/displacement.rsi/shoes.png
Labels: Changes: No C#, Changes: Sprites
