Repository impstation/imp-station-14, pull requests merged in 2025-07, with the labels that each got.

#2927 grey sec jumpskirt trim mistake finally rectified
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: No C#

#2926 port colored paper and sticky notes from deltav
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/sticky_notes.yml
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-bright.png
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-classic.png
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-white.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_base.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin1.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin2.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin3.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin4.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin5.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_words.png
Labels: Changes: No C#, Changes: Sprites

#2921 red glowsticks are craftable
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
Labels: Changes: No C#

#2928 You look like an officer: Small security loadout nerf
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#2800 fruit bowl and meat bowl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/Random/bowls.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/bowls.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/service.yml
  Resources/Textures/_Impstation/Objects/Misc/food_bowls.rsi/fruitbowl-filled.png
  Resources/Textures/_Impstation/Objects/Misc/food_bowls.rsi/fruitbowl.png
  Resources/Textures/_Impstation/Objects/Misc/food_bowls.rsi/meatbowl-filled.png
  Resources/Textures/_Impstation/Objects/Misc/food_bowls.rsi/meatbowl.png
  Resources/Textures/_Impstation/Objects/Misc/food_bowls.rsi/meta.json
  Resources/migration.yml
Labels: Changes: No C#, Changes: Sprites

#2704 added clown related thaven moods
  Resources/Locale/en-US/_Impstation/thavens/no-and.ftl
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Locale/en-US/_Impstation/thavens/yes-and.ftl
  Resources/Prototypes/_Impstation/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Thavens/Moods/shared.yml
  Resources/Prototypes/_Impstation/Thavens/Moods/yes_and.yml
Labels: Changes: No C#

#2903 continuation of rainyatrium's synthetic trait port from delta-v, originally from cosmatic drift
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/_CD/Traits/SynthComponent.cs
  Content.Server/_CD/Traits/SynthSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_CD/reagents/biological.ftl
  Resources/Locale/en-US/_CD/station/events.ftl
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/alchohol.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/XenoArch/triggers.yml
  Resources/Prototypes/_CD/Reagents/biological.yml
  Resources/Prototypes/_CD/Traits/traits.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/angelskiss.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/batteryacid.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Needs Review

#2935 Fix radiator configuration 3 sprite
  Resources/Textures/_Impstation/Structures/Piping/Atmospherics/heatexchanger_alt2.rsi/heStraight.png
Labels: Changes: No C#, Changes: Sprites

#2938 Update version text to Imp 5 (for imp 5)
  Resources/Locale/en-US/launcher/launcher-connecting.ftl
Labels: Changes: No C#

#2939 Update version text to imp3
  Resources/Locale/en-US/launcher/launcher-connecting.ftl
Labels: Changes: No C#

#2943 Revamped Box Atmos
  Resources/Maps/_Impstation/box.yml
Labels: Changes: No C#, Changes: Map

#2941 Allow shutters and firelocks to close over SmartFridges
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: No C#

#2942 Increase time spent in both postround and preround lobby.
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2962 i changed one thing
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Locale/en-US/accessories/human-hair.ftl
Labels: Changes: No C#

#2966 Changed the Zombie Slushie from using protein to uncooked protein to …
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
Labels: Changes: No C#

#2973 oh. fix box
  Resources/Maps/_Impstation/box.yml
Labels: Changes: No C#, Changes: Map

#2986 PG ACCENT TWEAKS
  Resources/Locale/en-US/_Impstation/accent/pg.ftl
  Resources/Prototypes/_Impstation/Accents/pg_replacements.yml
Labels: Changes: No C#

#2956 Gun Cases
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/guncase.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/Random/hosgunspawner.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Storage/guncase.yml
  Resources/Textures/_Impstation/Objects/Storage/guncase.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/guncase.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/guncase.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/guncase.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/guncase.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2960 Luna and Hash Update
  Resources/Maps/_Impstation/hash.yml
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2976 achat sound
  Content.Shared/CCVar/CCVars.Sounds.cs
  Resources/Audio/_Impstation/Misc/achat.ogg
  Resources/Audio/_Impstation/Misc/attributions.yml
Labels: Changes: Audio

#2987 Add evac repair lockers to emergency shuttles
  Resources/Maps/_Impstation/Shuttles/NTES_Propeller.yml
  Resources/Maps/_Impstation/Shuttles/emergency_bedlam.yml
  Resources/Maps/_Impstation/Shuttles/emergency_courser_hummingbird.yml
  Resources/Maps/_Impstation/Shuttles/emergency_pioneer.yml
  Resources/Maps/_Impstation/Shuttles/emergency_refsdal.yml
  Resources/Maps/_Impstation/Shuttles/emergency_totality.yml
  Resources/Maps/_Impstation/Shuttles/hash_evac.yml
  Resources/Maps/_Impstation/Shuttles/lunaevac.yml
  Resources/Prototypes/_DV/Maps/submarine.yml
  Resources/Prototypes/_Harmony/Maps/Eclipse.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: No C#, Changes: Map

#2979 Intercom Prototypes For Mapping
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/intercom.yml
Labels: Changes: No C#

#2978 crystals update
  Resources/Prototypes/Entities/Markers/Spawners/Random/crystal.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Structures/Decoration/crystals.yml
  Resources/Textures/_Impstation/Materials/crystal.rsi/meta.json
  Resources/Textures/_Impstation/Materials/crystal.rsi/shard1.png
  Resources/Textures/_Impstation/Materials/crystal.rsi/shard2.png
  Resources/Textures/_Impstation/Materials/crystal.rsi/shard3.png
  Resources/Textures/_Impstation/Materials/crystal.rsi/shard4.png
  Resources/Textures/_Impstation/Materials/crystal.rsi/shard5.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal1.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal2.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal3.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal4.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal5.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal6.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal7.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/crystal_grey.png
  Resources/Textures/_Impstation/Structures/crystal.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2958 Fix toggleable lights for toggleable visuals refactor, remove system additions of PR #2026, migrate some prototypes and files into our namespace
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/_Impstation/Clothing/NeckComponent.cs
  Content.Shared/_Impstation/Clothing/NeckSystem.cs
  Resources/Locale/en-US/_Impstation/actions/actions/necktoggle.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/mascotcindysuit.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/tcktck.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon-light.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/paramedicsirencap.rsi/on-equipped-HELMET.png
Labels: Changes: Sprites

#2993 i fucking did it (labeler fixes FOR REAL)
  .github/labeler.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#

#2981 snailfix
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/gastropoid.yml
  Resources/Prototypes/_Impstation/Species/gastropoid.yml
Labels: Changes: No C#

#2999 rsi fix
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET.png
  Resources/Textures/Objects/Misc/spiderweb.rsi/meta.json
  Resources/Textures/Objects/Misc/spiderweb.rsi/spider_web_decor.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/spider_web_decor.png
Labels: Changes: No C#, Changes: Sprites, size/S, Changes: Upstream

#2995 Intercom Wave
  Resources/Maps/_Impstation/hash.yml
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#2996 make radio jammer cheaper
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#2991 Gave the zookeeper a toolbelt
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: Changes: No C#

#2961 bring back kill/maroon objective
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Objectives/traitor.yml
Labels: Changes: No C#

#2965 Dedicated atmos pipe construction menu category
  Resources/Locale/en-US/_Impstation/construction/construction-categories.ftl
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Cardboard/cardboard_rcd_construction.yml
Labels: Changes: No C#, size/S, Changes: Upstream

#3001 Fix headphone and spationaut sprites.
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-dog.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light-dog.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded-dog.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/icon-unshaded.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/light-overlay.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/S, Changes: Upstream

#2898 Benign books for librarians + early merge wizden #38376
  Content.Shared/Magic/Components/SpellbookComponent.cs
  Content.Shared/Magic/SpellbookSystem.cs
  Resources/Audio/_Impstation/Effects/Magic/attribution.txt
  Resources/Audio/_Impstation/Effects/Magic/fire-magic.ogg
  Resources/Audio/_Impstation/Effects/Magic/magic-enchantment.ogg
  Resources/Audio/_Impstation/Effects/Magic/magic-mallet.ogg
  Resources/Audio/_Impstation/Effects/Magic/magic-stars-retro-sparkle.ogg
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Deliveries/deliveries_books.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Magic/books.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/book_teleporter.yml
  Resources/Prototypes/_Impstation/Magic/projectile_spells.yml
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/anchoring-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/anchoring.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/cutting-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/cutting.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/flashlight-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/flashlight.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/haircuts-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/haircuts.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/my-first-fireball-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/my-first-fireball.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/prying-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/prying.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/screwing-unshaded.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/screwing.png
  Resources/Textures/_Impstation/Structures/bookreturn.rsi/contents.png
  Resources/Textures/_Impstation/Structures/bookreturn.rsi/icon.png
  Resources/Textures/_Impstation/Structures/bookreturn.rsi/meta.json
  Resources/Textures/_Impstation/Structures/bookreturn.rsi/unlit.png
Labels: Changes: Sprites, Changes: Audio, size/M, Changes: Upstream

#3010 imp species mimes get survival boxes again
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: Changes: No C#, size/XS, Changes: Upstream

#3004 headphones fixed not clickbait
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/icon-on.png
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/off-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/headphones.rsi/on-equipped-NECK.png
Labels: Changes: No C#, Changes: Sprites, size/S, Changes: Upstream

#3009 corgi juice changes
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/fun.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream

#2948 syndicate infiltrators (midround antag)
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_Impstation/GameRules/events.yml
  Resources/Prototypes/_Impstation/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/Roles/MindRoles/mind_roles.yml
Labels: Changes: No C#, size/S, Changes: Upstream

#3020 yeah its box and xeno changes for new kitchen stuffs
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#2963 Savior clones
  Content.Server/GameTicking/Rules/ParadoxCloneRuleSystem.cs
  Resources/Locale/en-US/_Impstation/objectives/conditions/kill-head.ftl
  Resources/Locale/en-US/_Impstation/objectives/conditions/save-head.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/paradox-clone/role.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/_Impstation/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Objectives/paradoxClone.yml
Labels: S: Needs Review, size/S, Changes: Upstream

#3027 Better ingame hour count test fix
  Content.Client/Lobby/LobbyState.cs
Labels: size/XS, S: Untriaged, Changes: Upstream

#3030 Borgs can now be awarded medals, from Starlight
  Resources/Prototypes/InventoryTemplates/borg.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream

#3028 Split migrations into separate files
  Content.Server/Maps/MapMigrationSystem.cs
  Resources/migration.yml
  Resources/migration_imp.yml
Labels: S: Untriaged, Changes: Upstream

#3034 Update banana.yml
  Resources/Maps/_Impstation/banana.yml
Labels: Changes: No C#, Changes: Map, size/M, S: Untriaged

#3050 .22 pistol magazine sprite adjustments
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/Lpistol.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-6.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-7.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-8.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/mag-9.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/piercing.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/practice.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/red-icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/red.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/rubber.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/mpistol_mag.rsi/uranium.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/red-icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/red.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S

#3031 jungle juice fix but real this time
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/_Impstation/EntityEffects/Effects/MakeSyndient.cs
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/paper/paper-misc.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
Labels: size/M, S: Untriaged, Changes: Upstream

#2949 mouse reproduction
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Needs Review, size/S, Changes: Upstream

#3062 fix boat
  Resources/Maps/_Impstation/boat.yml
Labels: Changes: No C#, Changes: Map, size/S

#3064 Anaconda and Damage on Shoot changes
  Content.Shared/_Impstation/Weapons/Ranged/DamageOnShootSystem.cs
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Revolvers/anaconda.yml
Labels: size/XS, S: Untriaged

#3065 Beer goggles flash protection
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3061 Add support for RoleTimeRequirement to use antag time trackers
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Prototypes/_Impstation/Roles/play_time_trackers.yml
Labels: S: Untriaged, size/S, Changes: Upstream

#3051 removes all music owned by a specific famously litigious game developer
  Resources/Audio/_Impstation/Music/attributions.yml
  Resources/Audio/_Impstation/Music/bath_time.ogg
  Resources/Audio/_Impstation/Music/clair_de_lune.ogg
  Resources/Audio/_Impstation/Music/final_hours.ogg
  Resources/Audio/_Impstation/Music/fly_octo_fly.ogg
  Resources/Audio/_Impstation/Music/fzero_fire.ogg
  Resources/Audio/_Impstation/Music/hurry_up.ogg
  Resources/Audio/_Impstation/Music/internet_settings.ogg
  Resources/Audio/_Impstation/Music/mushroom_mayhem.ogg
  Resources/Audio/_Impstation/Music/panic_cube.ogg
  Resources/Audio/_Impstation/Music/replay_and_wifi_waiting.ogg
  Resources/Audio/_Impstation/Music/swankys_swing.ogg
  Resources/Audio/_Impstation/Music/topolla_theatre.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/SoundCollections/expeditions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Impstation/Catalog/Jukebox/Standard.yml
Labels: Changes: No C#, Changes: Audio, S: Untriaged, size/S, Changes: Upstream

#3067 Boat action surgery
  Resources/Maps/_Impstation/boat.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#3071 imp3 to imp 5
  Resources/Locale/en-US/launcher/launcher-connecting.ftl
Labels: Changes: No C#, Changes: Upstream

#3074 i hate this file specifically
  DUMMY
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3078 actually sets up the erp poster toggle correctly
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3054 Holy Shit Its Upstream Xeno (cooking branch)
  Resources/Maps/Shuttles/emergency_exo.yml
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
  Resources/Maps/exo.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Maps/exo.yml
  Resources/Prototypes/Parallaxes/exo.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors_xeno.rsi/alarmx.png
  Resources/Textures/Tiles/xeno_flooring.png
Labels: Changes: No C#, Changes: Sprites, Changes: Map, S: Untriaged, size/XL, Changes: Upstream

#3029 Even more bounties
  Resources/Locale/en-US/_Impstation/cargo/bounties.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/cottonburger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Impstation/Catalog/Bounties/bounties.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, S: Needs Review, size/M, Changes: Upstream, Changes: Port

#3082 snailfix fix
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/gastropoid.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3033 Add chapel tiles
  Resources/Locale/en-US/_Impstation/stack/stacks.ftl
  Resources/Locale/en-US/_Impstation/tiles/tiles.ftl
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_Impstation/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Impstation/Tiles/floors.yml
  Resources/Textures/_Impstation/Objects/Tiles/chapel.rsi/chapelNE.png
  Resources/Textures/_Impstation/Objects/Tiles/chapel.rsi/chapelNW.png
  Resources/Textures/_Impstation/Objects/Tiles/chapel.rsi/chapelSE.png
  Resources/Textures/_Impstation/Objects/Tiles/chapel.rsi/chapelSW.png
  Resources/Textures/_Impstation/Objects/Tiles/chapel.rsi/meta.json
  Resources/Textures/_Impstation/Tiles/attributions.yml
  Resources/Textures/_Impstation/Tiles/chapelNE.png
  Resources/Textures/_Impstation/Tiles/chapelNW.png
  Resources/Textures/_Impstation/Tiles/chapelSE.png
  Resources/Textures/_Impstation/Tiles/chapelSW.png
Labels: Changes: No C#, Changes: Sprites, size/M, S: Untriaged, Changes: Upstream

#3089 Okay.. that should be it? hopefully ( xeno mapping fix)
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3081 Make heavyweight drunk slightly less strong
  Content.Shared/_Impstation/Traits/Assorted/HeavyweightDrunkComponent.cs
  Resources/Locale/en-US/_Impstation/traits/traits.ftl
Labels: size/XS, S: Untriaged

#3011 Rollback departmental order computers to print slips again
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3105 alphabetize CE's foreman jumpsuit in loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, Changes: Upstream

#3098 Make experimental welding tools as fast as advanced industrial welding tools
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Changes: No C#, size/XS, Changes: Upstream

#3106 Add Hospitality Director access to Command access group
  Resources/Prototypes/Access/command.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3103 remove the minimum limit for security's outer clothing and belt loadouts
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3096 Thief invisible crate buff
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3108 Luna and Hash kitchens
  Resources/Maps/_Impstation/hash.yml
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map, size/M, S: Untriaged

#3109 Update migration_imp.yml for tabletop computers
  Resources/migration_imp.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#2521 anomaly wall conversion
  Content.Server/_Impstation/Anomaly/Effects/WallAnomalySystem.cs
  Content.Shared/_Impstation/Anomaly/Effects/Components/WallSpawnAnomalyComponent.cs
  Content.Shared/_Impstation/Anomaly/Effects/SharedWallAnomalySystem.cs
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: S: Needs Review, size/M, Changes: Upstream

#3090 i made this in like 45 minutes
  Resources/Audio/_Impstation/Demons/whiteboylaser.ogg
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/immovable-rod/immovable-rod.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/demons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/immovable_rod.yml
  Resources/Textures/_Impstation/Mobs/Demons/whiteboy.rsi/alive.png
  Resources/Textures/_Impstation/Mobs/Demons/whiteboy.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Demons/whiteboy.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio, size/M, S: Untriaged

#3112 Replicator Hostility Fix
  Resources/Prototypes/_Goobstation/Changeling/ai_factions.yml
  Resources/Prototypes/_Goobstation/Heretic/ai_factions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream, Changes: Port

#3052 Rose buffs and special juice
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/alchohol.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/lafleurette.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/pinkrose.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedead.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/romancedeadnot.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/rosemilk.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/M, S: Untriaged

#3107 Craftable Makeshift Laser
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/laserpusk.ogg
  Resources/Locale/en-US/_Impstation/recipes/tags.ftl
  Resources/Locale/en-US/_Impstation/weapons/ranged/damage-on-shoot.ftl
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/lasers.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/improvised/improvised_laser.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: No C#, Changes: Audio, size/M, S: Untriaged, Changes: Upstream

#3111 Aghost default tool tweaks
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3044 Pleebnars polish
  Content.Client/_Impstation/Pleebnar/PleebnarTelepathyWindow.xaml
  Content.Client/_Impstation/Pleebnar/PleebnarTelepathyWindow.xaml.cs
  Content.Server/_Impstation/Pleebnar/PleebnarGibSystem.cs
  Content.Server/_Impstation/Pleebnar/PleebnarTelepathySystem.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarGibActionComponent.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarGibbableComponent.cs
  Content.Shared/_Impstation/Pleebnar/Components/PleebnarMindShieldComponent.cs
  Resources/Locale/en-US/_Impstation/pleebnar/pleebnar-vision.ftl
  Resources/Locale/en-US/_Impstation/pleebnar/pleebnar.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Impstation/Pleebnars/Pleebnar_Visions.yml
  Resources/Prototypes/_Impstation/Pleebnars/Pleebnars.yml
Labels: Changes: UI, S: Needs Review, size/L, S: Untriaged, Changes: Upstream

#3116 Whisper update 1
  Resources/Maps/_Impstation/Shuttles/emergency_whisper.yml
  Resources/Maps/_Impstation/whisper.yml
  Resources/Prototypes/_Impstation/Maps/whisper.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3125 Luna Update
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3126 Revert "remove the minimum limit for security's outer clothing and belt loadouts"
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/XS, Changes: Upstream

#3124 Pathway Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/anthill.yml
  Resources/Prototypes/_Impstation/Maps/anthill.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL, Changes: Upstream

#3118 Bread & Water Soup
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_Impstation/Objects/Consumable/Food/bowl.rsi/breadandwatersoup.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/bowl.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/S

#3120 Gupdates
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/beeroboros.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/flamethrower.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/flamers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/ouroboros.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/plasma.yml
Labels: Changes: No C#

#3127 add security hud glasses to the sectech vending machine
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/secglasses.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/secglasses.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Hud/secglasses.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S, Changes: Upstream

#3070 ash ascension fix
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.AshAscend.cs
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Port

#3101 Imp5 Wrecks
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Resources/Prototypes/Entities/Stations/base.yml
Labels: S: Needs Review, S: Untriaged, Changes: Upstream

#3077 maints pills have random sprites
  Content.Client/Chemistry/EntitySystems/PillSystem.cs
  Content.Shared/Chemistry/Components/PillComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
Labels: S: Untriaged, size/S, Changes: Upstream

#2952 De-genericize signs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/Signs/signs.yml
Labels: Changes: No C#, S: Needs Review, size/M, Changes: Upstream

#2983 Add Laughter to roundstart puddle spawns, make it super slippery like space lube
  Resources/Prototypes/GameRules/variation.yml
  Resources/Prototypes/Reagents/fun.yml
Labels: Changes: No C#, S: Needs Review, size/XS, Changes: Upstream

#3038 Muted people can now scream
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Resources/Prototypes/Traits/disabilities.yml
Labels: S: Untriaged, Changes: Upstream

#3152 Elkridge bug fix
  Resources/Maps/_Impstation/elkridge.yml
Labels: Changes: No C#, Changes: Map, size/S

#3148 Free Agent Text Edit
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream, Changes: Guidebook

#3146 Whisper update 3
  Resources/Maps/_Impstation/whisper.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3157 Update turrets (Barratry/Core/Elkridge/Packed)
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/packed.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3161 SpeciesId For Dummies
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gastropoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gray.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: No C#, S: Untriaged

#3156 Remove Omega
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Power/StationPowerTests.cs
  Resources/Maps/_Impstation/omega.yml
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
  Resources/Prototypes/_Impstation/Maps/omega.yml
Labels: Changes: Map, S: Untriaged, size/XL, Changes: Upstream

#3104 lenses spawn in lens slot
  Content.Server/_Impstation/StartWithLenses/StartWithLensesComponent.cs
  Content.Server/_Impstation/StartWithLenses/StartWithLensesSystem.cs
  Resources/Prototypes/Traits/disabilities.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3162 fix changelog forever
  Resources/Changelog/Impstation.yml
Labels: Changes: No C#, size/M, Changes: Upstream

#3160 Lounge Singer Outfit + Fur Coat for Musician!
  Resources/Locale/en-US/_Impstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND-vox.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/equipped-HAND.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Hands/Gloves/mus_singergloves.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/mus_boa.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING-gastropoid.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/mus_furcoat.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-decapoid.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-diona.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-goblin.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-gray.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-moth.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-thaven.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/mus_singerdress.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/M, S: Untriaged, Changes: Upstream

#3164 minor kodepiia pass
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
  Resources/Prototypes/_Impstation/Loadouts/Miscellaneous/survival.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream

#3167 Whisper update 4 + Rotation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/emergency_whisper.yml
  Resources/Maps/_Impstation/whisper.yml
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
Labels: Changes: Map, size/M, Changes: Upstream

#3138 [PORT] prize counter from einstein engines
  Resources/Locale/en-US/_DEN/lathe/recipes.ftl
  Resources/Locale/en-US/_Impstation/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_Impstation/stack/stacks.ftl
  Resources/Locale/en-US/_NF/advertisements/vending/cuddlycritter.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_EE/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_EE/Reagents/Materials/prizeticket.yml
  Resources/Prototypes/_EE/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_EE/Stacks/prizeticket.yml
  Resources/Prototypes/_Floof/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_Floof/Catalog/Fills/Crates/prizeball.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/circuitimprinter.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/categories.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/cuddlycritter.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/prizeticket.yml
  Resources/Textures/_EE/Structures/Machines/prizecounter.rsi/icon.png
  Resources/Textures/_EE/Structures/Machines/prizecounter.rsi/meta.json
  Resources/Textures/_EE/Structures/Machines/prizecounter.rsi/panel.png
  Resources/Textures/_EE/Structures/Machines/prizecounter.rsi/unlit.png
  Resources/migration_imp.yml
Labels: Changes: No C#, Changes: Sprites, size/L, S: Untriaged, Changes: Upstream, Changes: Port

#3174 Emergency Patch
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#, size/XS, S: Untriaged, Changes: Upstream

#3179 New Musician Items Fixed
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/musician.yml
Labels: Changes: No C#, S: Untriaged

#3178 dolphin fixes
  Resources/Maps/_Impstation/lilboat.yml
Labels: Changes: No C#, Changes: Map, size/M, S: Untriaged

#3180 Derotate Box (temporarily)
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3175 pathway is now up to code after a lengthy inspection
  Resources/Maps/_Impstation/anthill.yml
Labels: Changes: No C#, Changes: Map, size/M, S: Untriaged

#3188 Update Plasma (Genpop, roundstart TEG set up)
  Resources/Maps/_Impstation/plasma.yml
Labels: Changes: No C#, Changes: Map, size/XL

#3172 Server rules update, RP guidelines, and Escalation guide (the MRPening)
  Resources/Locale/en-US/_Impstation/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/Old/RuleC00.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/Old/RuleR4-1Metagrudging.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/Old/RuleR4-2AntagMetashield.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/Old/darules.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/RPGuide/rpguide-emotions.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/RPGuide/rpguide-game.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/RPGuide/rpguide-players.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/RPGuide/rpguidelines.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/command-sec-antag-rules.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/corerules.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/escalation.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/newrules.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/rprules.xml
Labels: Changes: No C#, size/M, S: Untriaged, Changes: Upstream, Changes: Guidebook

#3183 Archaic fixes and tweaks
  Resources/Locale/en-US/_Impstation/accent/archaic.ftl
  Resources/Prototypes/_Impstation/Accents/archaic_replacements.yml
Labels: Changes: No C#, size/M, S: Untriaged

#3191 I'm back on my shit again
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk92hb.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk92hb.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk92hb.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk92hb.rsi/mag-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk93.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/mk93.rsi/mag-0.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged

#3196 no more alphabetization in loadouts
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Cargo/courier.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/M, S: Untriaged, Changes: Upstream

#3197 9 bottles in a bottle box
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
Labels: Changes: No C#, size/XS, Changes: Upstream
