Repository impstation/imp-station-14, pull requests merged in 2025-08, with the labels that each got.

#3080 pipi fear pleebnar
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/_Impstation/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/_Impstation/Mobs/Animals/major.rsi/major.png
  Resources/Textures/_Impstation/Mobs/Animals/major.rsi/major_dead.png
  Resources/Textures/_Impstation/Mobs/Animals/major.rsi/major_glow.png
  Resources/Textures/_Impstation/Mobs/Animals/major.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/M, S: Untriaged, Changes: Upstream

#3200 Event Table Weight Adjustments
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Upstream

#3208 dumbass test fail fix fuck
  Resources/Prototypes/_Impstation/Catalog/Bounties/bounties.yml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/rprules.xml
Labels: Changes: No C#, size/XS, Changes: Guidebook

#3206 hairstyles Smiles
  Resources/Locale/en-US/_Impstation/markings/humanoid.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/guymullet.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/guytied.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/jed.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/jedponytail.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/midbangs.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/midbangscovered.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/midpartponytail.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/sideshavebun.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/shaggythaven.png
Labels: Changes: No C#, Changes: Sprites, size/M

#3182 Wowie, More Gun Stuff! Star Rifle + A Ton of Small Tweaks
  Resources/Audio/_Impstation/Weapons/Guns/Cock/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Cock/clake_cock.ogg
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/clake.ogg
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/mosin.ogg
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/Lpistol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/chemdart.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Basic/apid_pka.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Snipers/Snipers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/flamers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/plasma.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Snipers/star_service.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, Changes: Audio, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3135 Early merge Wizden PR #38672 "More atmos devices can be placed on layers easier.", expand on it allowing air vents, scrubbers, passive vents, air injectors, and radiators to be built on alt layers
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/alt_layers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/freezer.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_unary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/gas_pipe_sensor.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/_EE/Entities/Structures/Specific/Atmospherics/supermatter.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Piping/Atmospherics/alt_layers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/Atmospherics/decapoid.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/Atmospherics/thermostat.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/utilities.yml
Labels: Changes: No C#, size/L, Changes: Upstream, Changes: Port

#3095 Cargorilla Update but it actually works
  Content.Client/_Impstation/CombatModeSprint/CombatModeSprintSystem.cs
  Content.Client/_Impstation/CombatModeVisuals/CombatModeVisualsSystem.cs
  Content.Server/_Impstation/CombatModeSprint/CombatModeSprintSystem.cs
  Content.Server/_Impstation/CombatModeVisuals/CombatModeVisualsSystem.cs
  Content.Shared/_Impstation/CombatModeSprint/CombatModeSprintComponent.cs
  Content.Shared/_Impstation/CombatModeSprint/SharedCombatModeSprintSystem.cs
  Content.Shared/_Impstation/CombatModeVisuals/CombatModeVisualsComponent.cs
  Content.Shared/_Impstation/CombatModeVisuals/SharedCombatModeVisualsSystem.cs
  Resources/Audio/_Impstation/Effects/attributions.yml
  Resources/Audio/_Impstation/Effects/gorilla_chest_beat.ogg
  Resources/Locale/en-US/_Impstation/chat/emotes.ftl
  Resources/Locale/en-US/_Impstation/datasets/names/cargorilla.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/pets.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/cargorilla.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
Labels: Changes: Audio, S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3211 Jesus comes
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/comingofjesus.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio, size/XS, Changes: Upstream

#3220 Make microphones work while held in your offhand!
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: Changes: No C#, S: Untriaged, Changes: Upstream

#3194 port departmental announcement computers from funkystation
  Resources/Locale/en-US/_Funkystation/communications/communications-console-component.ftl
  Resources/Locale/en-US/_Impstation/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_engineering.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_medical.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_science.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_security.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_service.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/comm_supply.png
  Resources/Textures/_Funkystation/Structures/Machines/computers.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/M, Changes: Upstream, Changes: Port

#3216 apids can now wear gloves
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/apid.yml
  Resources/Prototypes/_Impstation/InventoryTemplates/apid_inventory_template.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Mobs/Species/Apid/displacement.rsi/hands.png
  Resources/Textures/_Impstation/Mobs/Species/Apid/displacement.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/S

#3215 i want to get online
  Resources/Audio/_DV/RoundEnd/attributions.yml
  Resources/Audio/_DV/RoundEnd/i_need_a_computer.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio, size/XS, Changes: Upstream, Changes: Port

#3045 Last Message Before Death Webhook
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_Wizden/Chat/Systems/LastMessageBeforeDeathSystem.cs
  Content.Server/_Wizden/Discord/Managers/LastMessageWebhookManager.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/_Impstation/CCVar/ImpCCVars.cs
  Resources/Locale/en-US/_Impstation/discord/lastmessage.ftl
Labels: S: Needs Review, size/M, Changes: Upstream, Changes: Port

#3187 Frontier (NF) Material Magnent Pickup to Imp Port
  Content.Shared/_NF/Storage/Components/MaterialStorageMagnetPickupComponent.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: S: Needs Review, size/M, Changes: Upstream, Changes: Port

#3226 synfiltrator codeword
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_Impstation/Roles/Antags/traitor.yml
Labels: Changes: No C#

#3227 Fix Last Message Webhook, Add proper emote support
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Wizden/Chat/Systems/LastMessageBeforeDeathSystem.cs
Labels: S: Untriaged, size/S, Changes: Upstream, Changes: Port

#3232 emergency fix for prize ticket ash bomb
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/prizeticket.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#3244 Fix vocal emotes done through chat not appearing in chat
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Labels: S: Untriaged, Changes: Upstream

#3245 Re-add Service Worker to the Service department, hide Administrative Assistant on the ID card computer
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_Impstation/Roles/departments.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, Changes: Port

#3240 Bedlam and Whisper updates
  Resources/Maps/_Impstation/bedlam.yml
  Resources/Maps/_Impstation/whisper.yml
Labels: Changes: No C#, Changes: Map

#3137 Juice-o-Matt entity for Hash
  Resources/Locale/en-US/_Impstation/advertisements/vending/juiceomat.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Catalog/VendingMachines/goodbyes.yml
  Resources/Prototypes/_Impstation/Catalog/VendingMachines/Inventories/juiceomat.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3246 cleanup rules now that hyperlink's fixed
  Resources/Prototypes/Guidebook/rules.yml
Labels: Changes: No C#, S: Needs Review, size/S, Changes: Upstream

#3237 Adds PartyUFO shuttle to the event pool
  Resources/Locale/en-US/_Impstation/station-events/events/unknown_shuttles.ftl
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3255 mre wrappers
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3253 Removed drones flashing others when they toggle their pointlight.
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/silicon.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#3073 Station Specific Meteors
  Content.Server/StationEvents/Events/MeteorSwarmSystem.cs
  Content.Server/_Impstation/Station/Components/StationSpecificMeteorComponent.cs
  Resources/Locale/en-US/_Impstation/station-events/events/meteor-swarm.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Walls/meteor.yml
  Resources/Prototypes/_Impstation/GameRules/meteorswarms.yml
  Resources/Prototypes/_Impstation/Maps/xeno.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3241 Remove paramedic and brigmedic for pressing ceremonial reasons (2 week testing period)
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_Impstation/Maps/Eclipse.yml
  Resources/Prototypes/_Impstation/Maps/amber.yml
  Resources/Prototypes/_Impstation/Maps/anthill.yml
  Resources/Prototypes/_Impstation/Maps/bagel.yml
  Resources/Prototypes/_Impstation/Maps/barratry.yml
  Resources/Prototypes/_Impstation/Maps/bedlam.yml
  Resources/Prototypes/_Impstation/Maps/boat.yml
  Resources/Prototypes/_Impstation/Maps/box.yml
  Resources/Prototypes/_Impstation/Maps/cog.yml
  Resources/Prototypes/_Impstation/Maps/core.yml
  Resources/Prototypes/_Impstation/Maps/elkridge.yml
  Resources/Prototypes/_Impstation/Maps/gate.yml
  Resources/Prototypes/_Impstation/Maps/hash.yml
  Resources/Prototypes/_Impstation/Maps/hummingbird.yml
  Resources/Prototypes/_Impstation/Maps/lilboat.yml
  Resources/Prototypes/_Impstation/Maps/luna.yml
  Resources/Prototypes/_Impstation/Maps/marathon.yml
  Resources/Prototypes/_Impstation/Maps/oasis.yml
  Resources/Prototypes/_Impstation/Maps/packed.yml
  Resources/Prototypes/_Impstation/Maps/plasma.yml
  Resources/Prototypes/_Impstation/Maps/refsdal.yml
  Resources/Prototypes/_Impstation/Maps/relic.yml
  Resources/Prototypes/_Impstation/Maps/saltern.yml
  Resources/Prototypes/_Impstation/Maps/submarine.yml
  Resources/Prototypes/_Impstation/Maps/train.yml
  Resources/Prototypes/_Impstation/Maps/union.yml
  Resources/Prototypes/_Impstation/Maps/whisper.yml
  Resources/Prototypes/_Impstation/Maps/xeno.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: No C#, S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3145 old new xenoarch fixes for things i forgot
  Content.Server/StationEvents/Components/BluespaceArtifactRuleComponent.cs
  Content.Server/_Impstation/Xenoarchaeology/Equipment/Components/OldSuppressArtifactContainerComponent.cs
  Content.Server/_Impstation/Xenoarchaeology/Equipment/Systems/OldSuppressArtifactContainerSystem.cs
  Content.Server/_Impstation/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Actions.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/SharedArtifact.cs
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_xenoartifacts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3166 short-sighted lens spawning bugfix
  Content.Server/_Impstation/StartWithLenses/StartWithLensesSystem.cs
Labels: S: Needs Review, size/S

#3242 Add tooltips to the cargo bounty status thingimajig
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
Labels: Changes: UI, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3170 Slightly un-nerf space cleaner dispenser, adjust soap cargo order, restore soap cargo bounty
  Resources/Locale/en-US/reagents/meta/cleaning.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/chemical-containers.yml
Labels: Changes: No C#, size/S, Changes: Upstream

#3268 Xenoarcheology quality of life tweaks
  Content.Client/Xenoarchaeology/Ui/OldAnalysisConsoleMenu.xaml
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactComponent.cs
  Content.Shared/Xenoarchaeology/Artifact/XAT/XATDamageThresholdReachedSystem.cs
  Resources/Prototypes/XenoArch/triggers.yml
  Resources/Prototypes/_Impstation/XenoArch/artifact_triggers.yml
Labels: Changes: UI, size/S, Changes: Upstream

#3142 ratvarian typing indicator hotfix
  Content.Server/Speech/EntitySystems/RatvarianLanguageSystem.cs
  Content.Shared/Speech/Components/RatvarianLanguageComponent.cs
Labels: S: Needs Review, size/S, Changes: Upstream

#3055 fix custom announcement sounds
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Server/StationEvents/Events/BluespaceArtifactRule.cs
  Content.Server/StationEvents/Events/BreakerFlipRule.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Server/StationEvents/Events/FalseAlarmRule.cs
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
Labels: S: Needs Review, size/S, Changes: Upstream

#3267 Box has crashed into EXO-3416.
  Resources/Maps/_Impstation/box.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map, size/S

#3249 make savior clones rarer
  Resources/Prototypes/_Impstation/Objectives/objectiveGroups.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged, S: Being Discussed

#3259 Clean last message of * symbol
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: S: Untriaged, Changes: Upstream

#3115 Add portable cutter machine and hospitality director's utility belt (HD Toys Part 1)
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/Foldable/FoldableSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/_Impstation/foldable/components/foldable-component.ftl
  Resources/Locale/en-US/_Impstation/materials/material-storage.ftl
  Resources/Locale/en-US/_Impstation/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Clothing/Belt/hd.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Clothing/Belt/hd.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Belt/hd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Belt/hd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Belt/hd.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_hd.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_hd.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_hd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_hd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_hd.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/portable_cutter_machine.rsi/building.png
  Resources/Textures/_Impstation/Structures/Machines/portable_cutter_machine.rsi/icon.png
  Resources/Textures/_Impstation/Structures/Machines/portable_cutter_machine.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/portable_cutter_machine.rsi/panel.png
  Resources/Textures/_Impstation/Structures/Machines/portable_cutter_machine.rsi/unlit.png
Labels: Changes: Sprites, upstreamable?, S: Needs Review, size/M, Changes: Upstream

#3286 ExaminedEvent is now inventory relayed + Obvious examine refactor
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Impstation/Clothing/WearerGetsExamineTextComponent.cs
  Content.Shared/_Impstation/Clothing/WearerGetsExamineTextSystem.cs
  Resources/Locale/en-US/_Impstation/obvious.ftl
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3293 eclipse rotation update
  Resources/Prototypes/_Impstation/Maps/Eclipse.yml
  Resources/Prototypes/_Impstation/Maps/Pools/default.yml
Labels: Changes: No C#, S: Untriaged, size/S

#3298 Clown neck ruffles don't go under decapoid gills anymore
  Resources/Textures/_Impstation/Clothing/Neck/Misc/ruffle.rsi/equipped-NECK-decapoid.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/ruffle.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged

#3283 Hotbox and Xeno updates
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map, size/XL

#3300 hotbox hotfix
  Resources/Maps/_Impstation/box.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/M, S: Untriaged

#3288 Silicon screams and laughs
  Resources/Audio/_Impstation/Voice/Silicon/attributions.yml
  Resources/Audio/_Impstation/Voice/Silicon/silicon_laugh.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, Changes: Audio, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3307 Fix computer ambience to mono, reduce volume and frequency of computer ambience
  Resources/Audio/_Harmony/Effects/Computer/beep3.ogg
  Resources/Audio/_Harmony/Effects/Computer/beep4.ogg
  Resources/Audio/_Harmony/Effects/Computer/beep5.ogg
  Resources/Audio/_Harmony/Effects/Computer/beep7.ogg
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
Labels: Changes: No C#, Changes: Audio, S: Needs Review, Changes: Upstream, Changes: Port

#3303 The minigun works again
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged, Changes: Upstream

#3301 Double time between restarts
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#, size/XS, Changes: Upstream

#3313 Heretic Unfucking Part 1
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Client/_Goobstation/Heretic/UI/HereticRitualRuneRadialMenu.xaml.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Ash.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.Flesh.cs
  Content.Server/_Goobstation/Heretic/Abilities/HereticAbilitySystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticBladeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticKnowledgeSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticRitualSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticSystem.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/MansusGraspSystem.cs
  Content.Server/_Goobstation/Magic/ImmovableVoidRodSystem.cs
  Content.Server/_Goobstation/Store/Conditions/HereticPathCondition.cs
  Content.Shared/_Goobstation/Heretic/Components/HereticComponent.cs
  Content.Shared/_Goobstation/Heretic/Prototypes/HereticKnowledgePrototype.cs
  Content.Shared/_Goobstation/Heretic/Prototypes/HereticPathPrototype.cs
  Resources/Locale/en-US/_Goobstation/Heretic/store/store.ftl
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_ash.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_blade.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_flesh.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_lock.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_rust.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_side.yml
  Resources/Prototypes/_Goobstation/Heretic/Catalog/Heretic/path_void.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Impstation/Heretic/Heretic/heretic_knowledge.yml
  Resources/Prototypes/_Impstation/Heretic/Heretic/heretic_paths.yml
Labels: Changes: UI, S: Needs Review, size/M, Changes: Upstream, Changes: Port

#3321 Poprtable cutter machine fixes
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
Labels: Changes: No C#, size/XS

#3282 Juice wood/cardboard + anyone can eat it
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3291 yuuuuuuuuup it's heretic fixes
  Content.Client/_Goobstation/Heretic/UI/GhoulNotifMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/GhoulNotifMenu.xaml.cs
  Content.Client/_Goobstation/Heretic/UI/HellMemoryMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/HellMemoryMenu.xaml.cs
  Resources/Locale/en-US/_Goobstation/Heretic/store/heretic/heretic-catalog-flesh.ftl
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/basic.yml
  Resources/Prototypes/_Goobstation/Heretic/Actions/Heretic/path_flesh.yml
Labels: Changes: UI, S: Needs Review, size/S, Changes: Port

#3329 Allows paper labels to be attached to gas canisters.
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/_Impstation/Structures/Storage/canister.rsi/bounty.png
  Resources/Textures/_Impstation/Structures/Storage/canister.rsi/captains_paper.png
  Resources/Textures/_Impstation/Structures/Storage/canister.rsi/invoice.png
  Resources/Textures/_Impstation/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/canister.rsi/paper.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S, Changes: Upstream

#3100 Irwizine Ghost Role
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Shared/_Impstation/EntityEffects/Effects/MakeTame.cs
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
Labels: S: Needs Review, size/S, Changes: Upstream

#3323 Revert lowpop limiter
  Resources/Prototypes/_Impstation/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/game_presets.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#3338 update heretic guidebook and info text
  Resources/Locale/en-US/_Goobstation/Heretic/game-ticking/game-presets/preset-heretic.ftl
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsAsh.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsFlesh.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsSide.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsVoid.xml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Port, Changes: Guidebook

#3351 ok this should actually fix the pacifism. jesus
  Content.Server/_Impstation/GameTicking/Rules/EveryonePacifiedRuleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#3349 Expanded tck'tck expressions
  Resources/Audio/_Impstation/Voice/Talk/Tcktck/attributions.yml
  Resources/Audio/_Impstation/Voice/Talk/Tcktck/tcktck.ogg
  Resources/Audio/_Impstation/Voice/Talk/Tcktck/tcktck_laugh.ogg
  Resources/Audio/_Impstation/Voice/Talk/Tcktck/tcktck_muttering.ogg
  Resources/Audio/_Impstation/Voice/Talk/Tcktck/tcktck_scream.ogg
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/tcktck.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_sounds.yml
Labels: Changes: No C#, Changes: Audio, S: Untriaged, size/S

#3353 CHANGED ONE TEXTURE, A LITTLE BIT
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/jedponytail.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/XS, S: Untriaged

#3322 Add a couple more station beacon prototypes, update Amber and Marathon (Genpop)
  Resources/Locale/en-US/_Impstation/navmap-beacons/station-beacons.ftl
  Resources/Maps/_Impstation/amber.yml
  Resources/Maps/_Impstation/marathon.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#3344 delta alert wording change
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/ServerInfo/_Impstation/Guidebook/AlertProcedure.xml
Labels: Changes: No C#, size/XS, Changes: Upstream, Changes: Guidebook

#3005 Traitor Flavor
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Shared/Mind/MindComponent.cs
  Resources/Locale/en-US/_Impstation/traitor/flavor.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/objectives/round-end.ftl
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Goobstation/Datasets/traitor_flavor.yml
  Resources/Prototypes/_Impstation/Datasets/traitor_flavor.yml
Labels: S: Needs Review, size/M, S: Untriaged, Changes: Upstream, Changes: Port

#3361 Prevent wizards from teleporting to artifacts, anomalies, and supermatter
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_EE/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
Labels: Changes: No C#, S: Needs Review, size/S, Changes: Upstream, Changes: Port

#3363 I FUCKED UP SORRY
  Resources/Prototypes/_DV/Entities/Objects/Misc/briefcases.yml
Labels: Changes: No C#, size/XS, Changes: Port

#3364 teg flow rate on examine
  Content.Server/Power/Generation/Teg/TegSystem.cs
  Resources/Locale/en-US/power/teg.ftl
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Upstream

#3382 fixed attribution for genderfluid.rsi
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/meta.json
Labels: Changes: No C#, S: Needs Review, size/XS, S: Untriaged

#3378 HOS Bomber Jacket
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_hos.rsi/open-equipped-OUTERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/S, Changes: Upstream

#3385 Make cotton food bounties clearer
  Resources/Locale/en-US/_Impstation/cargo/bounties.ftl
Labels: Changes: No C#, S: Needs Review

#3375 [Barratry/Core/Elkridge/Packed/Reach] Document printers, burn chamber updates
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Maps/_Impstation/reach.yml
Labels: Changes: No C#, Changes: Map, size/XL

#3384 Nurse Uniform
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/nursehat.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/apronnurse.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/apronnurse.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/apronnurse.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/nurse.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/nurse.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/nurse.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/nurse.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/M, Changes: Upstream

#3389 Bedlam and Whisper Touches
  Resources/Maps/_Impstation/bedlam.yml
  Resources/Maps/_Impstation/whisper.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L

#3368 New chef clothes
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/headchef.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Clothing/Neck/Misc/chefneckerchief.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/chefneckerchief.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/chefneckerchief.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Specific/headchefshoes.rsi/equipped-FEET.png
  Resources/Textures/_Impstation/Clothing/Shoes/Specific/headchefshoes.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Shoes/Specific/headchefshoes.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Shoes/Specific/headchefshoes.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Shoes/Specific/headchefshoes.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpskirt/headchef.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/headchef.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/M, S: Untriaged, Changes: Upstream

#3367 Fix grappling and fishing rope sprites pointing directly to PNGs
  Resources/Prototypes/_Impstation/Entities/Objects/Fishing/fishing_rods.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: Changes: No C#, S: Untriaged

#3335 THUSD PR JORL THESIUS - replace [U]nr with unrevivable
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, size/XS, Changes: Upstream
