Repository impstation/imp-station-14, pull requests merged in 2025-04, with the labels that each got.

#2166 Xeno Update
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2080 bomber jacket patch (wait for upstream merge!)
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: No C#

#2083 human/dwarf ears are now headside markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/_Impstation/Mobs/Customization/jewelry.rsi/chest_necklace.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/l_leg_doll.png
  Resources/Textures/_Impstation/Mobs/Customization/tattoos.rsi/r_leg_doll.png
Labels: Changes: No C#, Changes: Sprites

#2171 Add more station beacon prototypes for solars
  Resources/Locale/en-US/_Impstation/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: No C#

#2165 Landsharks captain accessories
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/eyepatch.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/capeyepatch.rsi/equipped-EYES-vox.png
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/capeyepatch.rsi/equipped-EYES.png
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/capeyepatch.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Eyes/Misc/capeyepatch.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hats/captricorne.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/captricorne.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hats/captricorne.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakadmiral.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/equipped-FEET-vox.png
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/equipped-FEET.png
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Shoes/Boots/capheeledboots.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2151 greycloak thaven hood patch
  Resources/Textures/_Impstation/Clothing/Head/Hoods/hoodpassenger.rsi/equipped-HELMET-thaven.png
Labels: Changes: No C#, Changes: Sprites

#2140 Miami Hotshot
  Resources/Audio/_Impstation/Weapons/Guns/Cock/hollywood_cock.ogg
  Resources/Audio/_Impstation/Weapons/Guns/Gunshots/hollywood_shot.ogg
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Pistols/miamihotshot.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/mag-unshaded-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/mag-unshaded-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/mag-unshaded-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/mag-unshaded-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/gzipper.rsi/mag-unshaded-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Pistols/miamihotshot.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2173 Add emergency winter EVA suit, emergency winter EVA closet, Ice Station decal for mapping resources
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Impstation/Decals/ss14sign.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/_Impstation/Clothing/Head/Helmets/eva_winter.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/eva_winter.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/eva_winter.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Helmets/eva_winter.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Suits/emergency_winter_eva.rsi/meta.json
  Resources/Textures/_Impstation/Decals/ss14sign.rsi/meta.json
  Resources/Textures/_Impstation/Decals/ss14sign.rsi/ss14sign1IC.png
Labels: Changes: No C#, Changes: Sprites

#2157 Ratking can have a little structural as a treat
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: No C#

#2169 Wand polymorph durations
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Changes: No C#

#2170 More Lobby Screen Art
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/sec_makeover.webp
  Resources/Textures/_Impstation/LobbyScreens/sec_makeover.webp.yml
  Resources/Textures/_Impstation/LobbyScreens/stares_blankly.webp
  Resources/Textures/_Impstation/LobbyScreens/stares_blankly.webp.yml
Labels: Changes: No C#

#2178 Revert "April Fools PR Bundle"
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_Impstation/Oddball/OddballComponent.cs
  Content.Server/_Impstation/Oddball/OddballRuleComponent.cs
  Content.Server/_Impstation/Oddball/OddballRuleSystem.cs
  Content.Server/_Impstation/Oddball/OddballSystem.cs
  Content.Server/_Impstation/Pudge/Pudge.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Impstation/Pudge/PudgeActions.cs
  Content.Shared/_Impstation/Pudge/PudgeDoAfter.cs
  README.md
  Resources/Audio/_Impstation/Pudge/PudgeDevourVO.ogg
  Resources/Audio/_Impstation/Pudge/PudgeDismember.ogg
  Resources/Audio/_Impstation/Pudge/PudgeHook.ogg
  Resources/Audio/_Impstation/Pudge/PudgeHookVO.ogg
  Resources/Audio/_Impstation/Pudge/PudgeIdle.ogg
  Resources/Audio/_Impstation/Pudge/PudgeMeatShieldVO.ogg
  Resources/Audio/_Impstation/Pudge/PudgeRotVO.ogg
  Resources/Audio/_Impstation/Pudge/PudgeStep.ogg
  Resources/Audio/_Impstation/Pudge/PudgeYell.ogg
  Resources/Audio/_Impstation/Pudge/attributions.yml
  Resources/Locale/en-US/_Impstation/game-ticking/game-presets/preset-oddball.ftl
  Resources/Locale/en-US/_Impstation/paper/book-evilcraft.ftl
  Resources/Locale/en-US/_Impstation/pudge/pudge.ftl
  Resources/Maps/_Impstation/Admeme/corefools.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/oddball.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/books_author.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/dmr.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Impstation/GameRules/roundstart.yml
  Resources/Prototypes/_Impstation/Maps/corefools.yml
  Resources/Prototypes/_Impstation/Pudge/pudge.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Fun/oddball_startinggear.yml
  Resources/Prototypes/_Impstation/Species/gray.yml
  Resources/Prototypes/_Impstation/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_Impstation/game_presets.yml
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/base-unshaded-off.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/base-unshaded.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/base.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/hook.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/inhand-left.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/inhand-right.png
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/meta.json
  Resources/Textures/_Impstation/Pudge/fishingrod_pudge.rsi/rope.png
  Resources/Textures/_Impstation/Pudge/pudge.rsi/meta.json
  Resources/Textures/_Impstation/Pudge/pudge.rsi/pudge.png
  Resources/Textures/_Impstation/Pudge/pudge.rsi/pudge_dead.png
  Resources/Textures/_Impstation/Pudge/pudge_actions.rsi/dismember.png
  Resources/Textures/_Impstation/Pudge/pudge_actions.rsi/meathook.png
  Resources/Textures/_Impstation/Pudge/pudge_actions.rsi/meatshield.png
  Resources/Textures/_Impstation/Pudge/pudge_actions.rsi/meta.json
  Resources/Textures/_Impstation/Pudge/pudge_actions.rsi/rot.png
Labels: Changes: Sprites, Changes: Map, Changes: Audio

#2184 officially killing the "survivor/free agent" part of the event spells
  Resources/Prototypes/Magic/event_spells.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
Labels: Changes: No C#

#2183 Move Echolalia to disabilities and remove its point cost.
  Resources/Prototypes/_Impstation/Traits/speech.yml
Labels: Changes: No C#

#2189 kodepiiae no longer starving at all times
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
Labels: Changes: No C#

#2193 killing benry
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Kodepiia.xml
Labels: Changes: No C#

#2190 Kodepiia can now use inherent stores & can check moods
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
Labels: Changes: No C#

#2192 Refer to Suppy as "superdense" in sentience event announcement
  Resources/Locale/en-US/_Impstation/station-events/events/random-sentience.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Decorations/suppy.yml
Labels: Changes: No C#

#2201 machete go in belt slot
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2200 Space Law page stylization
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
  Resources/ServerInfo/Guidebook/Service/OtherRecipes.xml
  Resources/ServerInfo/_Impstation/Guidebook/Ghostroles/Apids.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/metashield.xml
Labels: Changes: No C#

#2196 kode patches
  Resources/Audio/_DV/Voice/Vulpkanin/attributions.yml
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl1.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl2.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl3.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl4.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl5.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/dog_growl6.ogg
  Resources/Audio/_DV/Voice/Vulpkanin/license.txt
  Resources/Audio/_Nyanotrasen/Voice/Felinid/attributions.yml
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_growl1.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_hiss1.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_hiss2.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_scream1.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_scream2.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/cat_scream3.ogg
  Resources/Audio/_Nyanotrasen/Voice/Felinid/license.txt
  Resources/Locale/en-US/_Impstation/markings/kodepiia.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Decoration/flesh_blockers.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/kodepiia.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Impstation/SoundCollections/kodepiia.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Kodepiia.xml
  Resources/Textures/_Impstation/Mobs/Customization/kodepiia/arms.rsi/squidcape.png
  Resources/Textures/_Impstation/Mobs/Customization/kodepiia/hair.rsi/kodaspiky.png
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2188 clean up some accidents from #2133
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Textures/_Impstation/Structures/Storage/Crates/labels.rsi/bounty.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/labels.rsi/captains_paper.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/labels.rsi/invoice.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/labels.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/labels.rsi/paper.png
Labels: Changes: No C#, Changes: Sprites

#2185 card merge fix
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Resources/Prototypes/_EstacaoPirata/Entities/Objects/Misc/cards.yml
Labels: Changes: No C#

#2205 Add shallow water tiles without occlusion & slowdown
  Resources/Prototypes/_Impstation/Tiles/shallow_water.yml
Labels: Changes: No C#

#2204 Add interior mining walls & mining wall construction graphs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/structures.yml
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/full.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining0.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining1.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining2.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining3.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining4.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining5.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining6.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/mining7.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB0.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB1.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB2.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB3.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB4.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB5.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB6.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior.rsi/miningB7.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior_diagonal.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Walls/mininginterior_diagonal.rsi/state0.png
  Resources/Textures/_Impstation/Structures/Walls/mininginterior_diagonal.rsi/state1.png
Labels: Changes: No C#, Changes: Sprites, Changes: Map

#2208 Syndicate Lobby Propaganda
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/interdyne_profit_synthesis.webp
  Resources/Textures/_Impstation/LobbyScreens/interdyne_profit_synthesis.yml
Labels: Changes: No C#

#2198 Luna shifts and changes
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2187 gollylad i love you gollylad
  Resources/Prototypes/_Impstation/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/goblin_player.yml
  Resources/ServerInfo/_Impstation/Guidebook/Ghostroles/GoblinKnight.xml
Labels: Changes: No C#

#2194 lawyer prestige and other stuff
  Resources/Locale/en-US/_Impstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/typing_indicator.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-seniorlawyer.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/equipped-NECK-kodepiia.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneyarmband.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneybadge.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneybadge.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneybadge.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/defenseattorneybadge.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/equipped-NECK-kodepiia.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerarmband.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerbadge.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerbadge.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerbadge.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/lawyerbadge.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/equipped-NECK-kodepiia.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/equipped-NECK-vox.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorarmband.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorbadge.rsi/equipped-NECK-thaven.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorbadge.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorbadge.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Misc/prosecutorbadge.rsi/meta.json
  Resources/Textures/_Impstation/Effects/speech.rsi/lawyerblue0.png
  Resources/Textures/_Impstation/Effects/speech.rsi/lawyerblue1.png
  Resources/Textures/_Impstation/Effects/speech.rsi/lawyerblue2.png
  Resources/Textures/_Impstation/Effects/speech.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/pens.rsi/designer_pen-inhand-left.png
  Resources/Textures/_Impstation/Objects/Misc/pens.rsi/designer_pen-inhand-right.png
  Resources/Textures/_Impstation/Objects/Misc/pens.rsi/designer_pen.png
  Resources/Textures/_Impstation/Objects/Misc/pens.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2211 Replace harmonica trinket with pan flute + make it playable outside of the hand
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: No C#

#2212 Add skin tone category for grays
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Prototypes/_Impstation/Species/gray.yml
Labels: Changes: UI

#2215 dv antags have names this time for real
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
Labels: Changes: No C#

#2210 vox tails are tails, not torsos!!
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/parts.rsi/torso.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/vox_m.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailballed.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailcolorable.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailsplit.png
Labels: Changes: No C#, Changes: Sprites

#2218 Hash maintenance
  Resources/Maps/_Impstation/Shuttles/hash_evac.yml
  Resources/Maps/_Impstation/hash.yml
Labels: Changes: No C#, Changes: Map

#2199 Eldritch Tomes (heretic reality fracture rework)
  Content.Server/_Goobstation/GameTicking/Rules/HereticRuleSystem.cs
  Content.Server/_Goobstation/Heretic/Components/HereticKnowledgeItemComponent.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/HereticKnowledgeItemSystem.cs
  Content.Shared/_Goobstation/Heretic/Heretic.Abilites.cs
  Resources/Locale/en-US/_Goobstation/Heretic/heretic/loc.ftl
  Resources/Prototypes/_Impstation/Heretic/Entities/Objects/Specific/heretic.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/HereticsKnowledge.xml
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base1.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base2.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base3.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base4.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base5.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base6.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base7.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-base8.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon1.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon2.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon3.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon4.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon5.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/eldritch-book-icon6.png
  Resources/Textures/_Impstation/Heretic/eldritch_book.rsi/meta.json
Labels: Changes: Sprites

#2216 grays no longer bleed radium. sorry.
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_Goobstation/Heretic/Entities/Mobs/NPC/polymorph.yml
  Resources/Prototypes/_Goobstation/Heretic/Heretic/heretic_rituals.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gray.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Impstation/XenoArch/artifact_triggers.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Gray.xml
Labels: Changes: No C#

#2082 Mech QoL
  Content.Client/Mech/MechSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Audio/_Impstation/Mecha/attributions.yml
  Resources/Audio/_Impstation/Mecha/nominal.ogg
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: Audio

#2214 Shave Your Beards (+ related kodepiia shaving)
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/kodepiia.yml
Labels: Changes: No C#

#2225 voxtails are tails now: redemption for layering issues
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/parts.rsi/torso.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/vox_m.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailballed.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailcolorable.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle1.rsi/voxtailsplit.png
  Resources/Textures/_Impstation/Mobs/Species/Vox/parts.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Vox/parts.rsi/torso.png
Labels: Changes: No C#, Changes: Sprites

#2207 Refsdal -- 5-25 lowpop shuttle map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/cargo_refsdal.yml
  Resources/Maps/_Impstation/Shuttles/emergency_refsdal.yml
  Resources/Maps/_Impstation/refsdal.yml
  Resources/Prototypes/_Impstation/Maps/refsdal.yml
Labels: Changes: No C#, Changes: Map

#2229 Give Dragons a flavored Station Pinpointer.
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Impstation/InventoryTemplates/dragon_inventory_template.yml
  Resources/Prototypes/_Impstation/Objects/Devices/pinpointer.yml
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonalert.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonalertdirect.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonalertnull.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonclose.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinondirect.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinondirectlarge.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinondirectsmall.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinondirectxtrlarge.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonfar.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonmedium.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinonnull.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer.rsi/pinpointer-dragon.png
Labels: Changes: No C#, Changes: Sprites

#2114 gray head/chest marking budget
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Species/gray.yml
Labels: Changes: No C#, Changes: Sprites

#2236 s-cargo closet fix
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/Closets/closets.yml
Labels: Changes: No C#

#2230 Walking canes in medfab
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/medical.yml
Labels: Changes: No C#

#2220 lawyer briefcase fix
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/lawyer.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunovercoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunovercoat.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunovercoat.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunovercoat.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunovercoat.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunwindbreaker.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunwindbreaker.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunwindbreaker.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunwindbreaker.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Coats/cybersunwindbreaker.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_black.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_black.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_black.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_black.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_cybersun.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_cybersun.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_cybersun.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_cybersun.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2172 Firearm Melee Fix (and extras)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/blasters.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/disablers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Pistols/miamihotshot.yml
Labels: Changes: No C#

#2247 vault doors
  Resources/Prototypes/_Impstation/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Doors/Airlocks/vault.yml
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/assembly.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/bolted_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/closed.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/closed_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/closing.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/closing_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/deny_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/emergency_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/open.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/opening.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/opening_unlit.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/panel_closing.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/panel_open.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/panel_opening.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/sealed.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/sparks.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/sparks_broken.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/sparks_damaged.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/sparks_open.png
  Resources/Textures/_Impstation/Structures/Doors/Airlocks/Vault/vault.rsi/welded.png
Labels: Changes: No C#, Changes: Sprites

#2235 A Simple Tailor's Spacewear Delivery
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/hospitality_director.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualblue.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualbrown.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/equipped-INNERCLOTHING-gastropoid.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualmulti.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacecasualtricolor.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacechef.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacehd.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Uniforms/Jumpsuit/spacesecurity.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2250 Increase lobby time, tidy config
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2244 weaker gravity well instant effect for Artifact Supermatter spawn
  Resources/Prototypes/_Impstation/Entities/Effects/triggers.yml
  Resources/Prototypes/_Impstation/XenoArch/Effects/normal_effects.yml
Labels: Changes: No C#

#2217 restores mail sprites
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
  Resources/Textures/_Impstation/Objects/Specific/Mail/mail_large.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Mail/mail_large.rsi/postmark.png
Labels: Changes: No C#, Changes: Sprites

#2234 Warden Hardsuit Sprite Update
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/icon-flash.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2227 Intrinsic mass scanner for ghosts.
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: No C#

#2241 Current Imp Meme; Syndicate Corportation
  Resources/Locale/en-US/datasets/corporations.ftl
  Resources/Prototypes/Datasets/corporations.yml
Labels: Changes: No C#

#2219 Remove Cluwne spell and replace with wand
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_Impstation/Catalog/spellbook_catalog.yml
Labels: Changes: No C#

#2255 FIX LOBBY TIMER
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2197 Reinforced Steel Briefcase
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_steel.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_steel.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_steel.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Briefcases/briefcase_steel.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2232 Portable Sensor Array
  Resources/Audio/_Impstation/Items/attributions.yml
  Resources/Audio/_Impstation/Items/detectorbeep.ogg
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Security/psa.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/devices.yml
  Resources/Textures/_Impstation/Objects/Specific/Security/psa.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Specific/Security/psa.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Security/psa.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Security/psa.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Security/psa.rsi/screen.png
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2245 remove oxygen foam from artifacts
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: No C#

#2257 7 minute lobby timer for real
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2260 Minor Hummingbird, Train, Saltern and Marathon tweaks
  Resources/Maps/_Impstation/hummingbird.yml
  Resources/Maps/_Impstation/marathon.yml
  Resources/Maps/_Impstation/saltern.yml
  Resources/Maps/_Impstation/train.yml
Labels: Changes: No C#, Changes: Map

#2266 Fix Paradox Clone not using mid-round antag spawners
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#

#2258 Luna Maintenance
  Resources/Maps/_Impstation/Shuttles/lunaevac.yml
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2270 New medical guidebook about role responsibilities and medbay culture
  Resources/Locale/en-US/_Impstation/paper/book-jarvbay.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Books/guidebookshelf.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/books_author.yml
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/culturebay.png
  Resources/Textures/_Impstation/Objects/Misc/book.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2271 Updating Practice Guns and Contraband Status
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/blasters.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/disablers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/emergencylaser.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/mag-unshaded-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/disablerpractice.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/mag-unshaded-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/mag-unshaded-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/mag-unshaded-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/mag-unshaded-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/laser_practice.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites

#2283 making cargo tech unlock and supass lockout more reasonable
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_DV/Roles/Jobs/Cargo/cargo_assistant.yml
Labels: Changes: No C#

#2262 Made Willow a roundstart ghost role
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#

#2231 Nanotrasen not NanoTrasen
  Resources/Locale/en-US/_DV/cargo/stocks-comapnies.ftl
  Resources/Locale/en-US/advertisements/vending/bruiseomat.ftl
  Resources/Locale/en-US/advertisements/vending/chemdrobe.ftl
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/datasets/corporations.ftl
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Locale/en-US/datasets/names/cookie_fortune.ftl
  Resources/Locale/en-US/fax/fax-admin.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-wizard.ftl
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Locale/en-US/station-events/events/cargo-gifts.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/scrubs.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_DV/Objectives/recruiter.yml
  Resources/Prototypes/_EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Chapel/holy_texts.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
Labels: Changes: No C#

#2246 Gives the detective 45 magnum stun bullets and removes their seclink.
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/magnum.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/stun_casing.rsi/base-spent.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/stun_casing.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/stun_casing.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Casings/stun_casing.rsi/tip.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber-6.png
Labels: Changes: No C#, Changes: Sprites

#2259 Add janitorial welding tool
  Resources/Locale/en-US/_Impstation/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/autolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Prototypes/_Impstation/tool_qualities.yml
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/inhand-left-flame.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/inhand-right-flame.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tools/welder_janitorial.rsi/welder_flame.png
Labels: Changes: No C#, Changes: Sprites

#2287 Brigmed Locker Access
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: No C#

#2256 Wendy's Art 3 The Wendening
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/buncha_chibis.webp
  Resources/Textures/_Impstation/LobbyScreens/buncha_chibis.yml
Labels: Changes: No C#

#2276 0.1% chance of vent reagent slime
  Resources/Prototypes/_Impstation/GameRules/pests.yml
Labels: Changes: No C#

#2278 Change Gray Poison Resistance to Radiation
  Resources/Prototypes/_Impstation/Damage/gray.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Gray.xml
Labels: Changes: No C#

#2294 Reduce Barratry's Courier slot to 1
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: No C#

#2285 add whitelist to server config
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2296 guidebookshelf resorting
  Resources/Prototypes/_Impstation/Catalog/Fills/Books/guidebookshelf.yml
Labels: Changes: No C#

#2298 Luna update
  Resources/Maps/_Impstation/Shuttles/cargojeep_luna.yml
  Resources/Maps/_Impstation/Shuttles/lunaevac.yml
  Resources/Maps/_Impstation/luna.yml
  Resources/Prototypes/_Impstation/Maps/luna.yml
Labels: Changes: No C#, Changes: Map

#2300 Personal Grammar and License Fixes
  Resources/Audio/_Impstation/Weapons/Guns/Cock/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Melee/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Melee/shove_foley.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/LightPistols/Lpistols.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Pistols/miamihotshot.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/dmr.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Rifles/survival-rifle.yml
Labels: Changes: No C#, Changes: Audio

#2299 The Syndicate is Saved!!
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: No C#

#2310 added new lobby screen
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/tidy.webp
  Resources/Textures/_Impstation/LobbyScreens/tidy.webp.yml
Labels: Changes: No C#

#2312 restores the gray yawn
  Resources/Prototypes/_Impstation/Voice/gray.yml
Labels: Changes: No C#

#2323 admin FOR REAL
  Resources/ConfigPresets/Impstation/impstation.toml
Labels: Changes: No C#

#2317 Techwalls
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/structures.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/full.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall0.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall1.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall2.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall3.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall4.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall5.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall6.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwall7.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded0.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded1.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded2.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded3.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded4.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded5.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded6.png
  Resources/Textures/_Impstation/Structures/Walls/techwall.rsi/techwallunshaded7.png
  Resources/Textures/_Impstation/Structures/Walls/techwall_diagonal.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Walls/techwall_diagonal.rsi/state0.png
  Resources/Textures/_Impstation/Structures/Walls/techwall_diagonal.rsi/state1.png
Labels: Changes: No C#, Changes: Sprites

#2313 Anomalites (anomaly core ghostroles)
  Content.Client/Anomaly/Effects/ClientInnerBodySystem.cs
  Content.Server/Anomaly/Effects/InnerBodyAnomalySystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/Components/InnerBodyAnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalite_nameidentifiers.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalite_spawners.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalites.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/Anomaly/anomaly_injections.yml
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalybluespace.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyelectric.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyfire.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyflesh.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyflower.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalygravity.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyice.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyreagent.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyrock.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalyshadow.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/anomalytech.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/blank.png
  Resources/Textures/_Impstation/Mobs/Anomalites/anomalite.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/bluespace.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/bluespace.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/bluespace.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/electric.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/electric.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/electric.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/fire.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/fire.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/fire.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flesh.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flesh.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/flesh.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flower.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flower.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/flower.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/grav.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/grav.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/grav.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/ice.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/ice.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/ice.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/reagent.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/reagent.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/reagent.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/rock.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/rock.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/rock.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/shadow.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/shadow.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/shadow.rsi/pulse.png
  Resources/Textures/_Impstation/Mobs/Anomalites/tech.rsi/anom.png
  Resources/Textures/_Impstation/Mobs/Anomalites/tech.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/tech.rsi/pulse.png
Labels: Changes: Sprites

#2324 Cardboard RCD update
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/silicon.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/drone_tools.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/drone_tools_rcd.yml
Labels: Changes: No C#

#2311 minor thief changes
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
Labels: Changes: No C#

#2292 Further Refsdal tweaks & updates
  Resources/Maps/_Impstation/Shuttles/cargo_refsdal.yml
  Resources/Maps/_Impstation/Shuttles/emergency_refsdal.yml
  Resources/Maps/_Impstation/refsdal.yml
Labels: Changes: No C#, Changes: Map

#2267 apid mapping assets
  Resources/Locale/en-US/_Impstation/tiles/tiles.ftl
  Resources/Maps/_Impstation/banana.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/lunchbox.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/apid.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/mirror.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_Impstation/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Impstation/Tiles/floors.yml
  Resources/Prototypes/_Impstation/name_identifier_groups.yml
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxapid.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxapid.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxapid.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxapid.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Storage/Lunchboxes/lunchboxapid.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tiles/apid.rsi/apid.png
  Resources/Textures/_Impstation/Objects/Tiles/apid.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Furniture/chairs.rsi/apid.png
  Resources/Textures/_Impstation/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/apidmirror.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/apidmirror.rsi/mirror.png
  Resources/Textures/_Impstation/Structures/Wallmounts/apidmirror.rsi/mirror_broke.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/apid.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Impstation/Structures/apidcryopod.rsi/icon.png
  Resources/Textures/_Impstation/Tiles/apidfloor.png
Labels: Changes: No C#, Changes: Sprites, Changes: Map

#2297 "Winning Isn't Everything" Round End Sound
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/winning.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio

#2275 flippo fixes
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lighters.yml
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-icon-base.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-icon-open.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-inhand-left-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-inhand-right-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/engraved-inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/flame-green.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/flame-orange.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/icon-top.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-icon-base.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-icon-open.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-icon-top.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-inhand-left-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-inhand-right-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/syndie-inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-icon-base.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-icon-open.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-inhand-left-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-inhand-right-lit.png
  Resources/Textures/_Impstation/Objects/Tools/lighters.rsi/zippo-inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/fire.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-left-lit.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-right-lit.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/syndielighter.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2330 Map updates (vault doors, HD moving, etc.)
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/elkridge.yml
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/packed.yml
  Resources/Maps/_Impstation/union.yml
  Resources/Prototypes/_Harmony/Maps/barratry.yml
Labels: Changes: No C#, Changes: Map

#2315 ghoul-ification notification
  Content.Client/Content.Client.csproj
  Content.Client/_Goobstation/Heretic/EntitySystems/GhoulSystem.cs
  Content.Client/_Goobstation/Heretic/UI/GhoulNotifEui.cs
  Content.Client/_Goobstation/Heretic/UI/GhoulNotifMenu.xaml
  Content.Client/_Goobstation/Heretic/UI/GhoulNotifMenu.xaml.cs
  Content.Server/_Goobstation/Heretic/EntitySystems/GhoulSystem.cs
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Sacrifice.cs
  Content.Server/_Goobstation/Heretic/UI/GhoulNotifEui.cs
  Resources/Locale/en-US/_Goobstation/Heretic/game-ticking/game-presets/preset-heretic.ftl
Labels: Changes: UI

#2314 perform a sacrifice to see job icons
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/eyepatch.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/clothing/prestige_captains_glasses.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: No C#

#2277 Griffy, the Sec Safety Dog
  Content.Client/_Impstation/ClothingMobStateVisuals/ClothingMobStateVisualsSystem.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/_DV/Paper/SignatureSystem.cs
  Content.Server/_Impstation/EquipmentHeater/EquipmentHeaterComponent.cs
  Content.Server/_Impstation/EquipmentHeater/EquipmentHeaterSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Mobs/MobState.cs
  Content.Shared/_DV/Paper/SignatureSystem.cs
  Content.Shared/_DV/Paper/SignatureWriterComponent.cs
  Content.Shared/_Impstation/ClothingMobStateVisuals/ClothingMobStateVisualsComponent.cs
  Content.Shared/_Impstation/ClothingMobStateVisuals/ClothingMobStateVisualsSystem.cs
  Content.Shared/_Impstation/EquipmentForceFacing/EquipmentForceFacingComponent.cs
  Content.Shared/_Impstation/EquipmentForceFacing/EquipmentForceFacingSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/mascotgriffysuit.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Head/Misc/mascotgriffyhead.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/mascotgriffysuit.rsi/alive-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/mascotgriffysuit.rsi/alive-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/mascotgriffysuit.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/mascotgriffysuit.rsi/incapacitated-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/mascotgriffysuit.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Pets/mascotgriffy.rsi/mascotgriffy.png
  Resources/Textures/_Impstation/Mobs/Pets/mascotgriffy.rsi/mascotgriffy_dead.png
  Resources/Textures/_Impstation/Mobs/Pets/mascotgriffy.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/griffy_pda.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/griffy_pda.rsi/pda-mascotgriffy.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_mascotgriffy.png
  Resources/Textures/_Impstation/Objects/Tools/griffy_pen.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tools/griffy_pen.rsi/pen-inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/griffy_pen.rsi/pen-inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/griffy_pen.rsi/pen.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/sec_griffy.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/sec_griffy_door.png
Labels: Changes: Sprites

#2332 Ignore this
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Wizden/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Wizden/Objects/Storage/boxes.rsi/secglasses.png
  Resources/Textures/_Wizden/Objects/Storage/boxes.rsi/sunglasses.png
Labels: Changes: No C#, Changes: Sprites

#2328 NTAS Dolphin test 2
  Resources/Maps/_Impstation/lilboat.yml
  Resources/Prototypes/_Impstation/Maps/lilboat.yml
Labels: Changes: No C#, Changes: Map

#2342 New Pistols Update
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/blastermag.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/p2pistol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/blasters.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/LightPistols/Lpistols.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/blasterbolts.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Impstation/Research/arsenal.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/mag-6.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/red-icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/p2_extended.rsi/red.png
Labels: Changes: No C#, Changes: Sprites

#2339 Add department specific station beacons for solars
  Resources/Locale/en-US/_Impstation/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: No C#

#2346 Teabar Lobby Art
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/teabar.webp
  Resources/Textures/_Impstation/LobbyScreens/teabar.yml
Labels: Changes: No C#

#2341 Meta Updates (AI Core Hallways, Security Doors)
  Resources/Maps/_Impstation/meta.yml
Labels: Changes: No C#, Changes: Map

#2334 lamedh lobby screen
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/KAASI_DOSHI.webp
  Resources/Textures/_Impstation/LobbyScreens/KAASI_DOSHI.webp.yml
  Resources/Textures/_Impstation/LobbyScreens/NO-RO.webp
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/yourworldisours.webp
  Resources/Textures/_Impstation/LobbyScreens/yourworldisours.webp.yml
Labels: Changes: No C#

#2336 Even More Refsdalsing
  Resources/Maps/_Impstation/Shuttles/emergency_refsdal.yml
  Resources/Maps/_Impstation/refsdal.yml
  Resources/Prototypes/_Impstation/Maps/refsdal.yml
Labels: Changes: No C#, Changes: Map

#2357 Removed the annoying as hell chime from the cardboard box
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: Changes: No C#

#2360 lobby screen fix
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/yourworldisours.webp
  Resources/Textures/_Impstation/LobbyScreens/yourworldisours.webp.yml
Labels: Changes: No C#

#2233 Shooting my Shot
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#

#2269 learner pais!
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/Components/ToggleableGhostRoleComponent.cs
  Content.Server/Ghost/Roles/ToggleableGhostRoleSystem.cs
  Resources/Locale/en-US/_Impstation/pai/pai-system.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Objects/Fun/pai.yml
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/cargo-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/cargo-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/cargo-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/cargo-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/cargo-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/command-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/command-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/command-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/command-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/command-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/engineering-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/engineering-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/engineering-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/engineering-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/engineering-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/medical-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/medical-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/medical-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/medical-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/medical-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/science-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/science-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/science-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/science-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/science-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/security-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/security-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/security-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/security-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/security-pai-searching-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/service-icon-pai-off.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/service-pai-base.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/service-pai-off-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/service-pai-on-overlay.png
  Resources/Textures/_Impstation/Objects/Fun/pai.rsi/service-pai-searching-overlay.png
Labels: Changes: Sprites

#2286 Security Evidence/Contraband Management Improvement!!
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/base.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/closed.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/icon.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/locked.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/open.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/sparking.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/unlocked.png
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/welded.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/belongings.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/belongings_door.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/evidence.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/evidence_door.png
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/contraband.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/drones.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_command.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_medical.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_sci.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_sec.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_service.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/mats_supply.png
  Resources/Textures/_Impstation/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2353 Decapoids dont need suit storage to wear a vaporizer
  Resources/Prototypes/_Impstation/InventoryTemplates/decapoid_inventory_template.yml
Labels: Changes: No C#

#2358 periodic table update
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Impstation/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/posters.rsi/poster49_legit.png
Labels: Changes: No C#, Changes: Sprites

#2359 whitelist (actual)
  Resources/ConfigPresets/Impstation/impstation.toml
  Resources/ServerInfo/_Impstation/Guidebook/ServerRules/metashield.xml
Labels: Changes: No C#

#2363 apids have first (last?) names again
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/apid.yml
Labels: Changes: No C#

#2376 Fix cargo front door on Plasma
  Resources/Maps/_Impstation/plasma.yml
Labels: Changes: No C#, Changes: Map

#2366 Elkridge updates
  Resources/Maps/_Impstation/elkridge.yml
Labels: Changes: No C#, Changes: Map

#2371 Let Gray blood trigger radiation nodes
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: Changes: No C#

#2372 aghost drip expansion
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: No C#

#2306 CentComm not centcom
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DV/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/Syndicate_Gadgets/cleaner_lake_upgrade_kit.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/Lpistol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/Lpistol.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: Changes: No C#

#2340 odd plushie
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/odds-equipped-HELMET.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_odds-inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_odds-inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_odds.png
Labels: Changes: No C#, Changes: Sprites

#2362 Allow atmos techs to wear the engineering beret
  Resources/Locale/en-US/_Impstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#
