Repository impstation/imp-station-14, pull requests merged in 2025-05, with the labels that each got.

#2368 Security Officers put Reminders in their PDAs
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/goldzipper.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#2401 add 'kaching.ogg' to kodepiia's 'ring' emote
  Resources/Prototypes/_Impstation/SoundCollections/kodepiia.yml
Labels: Changes: No C#

#2399 Allow Kodepaiia to use subjuzine
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
Labels: Changes: No C#

#2387 Make Space Mobs/Vent Adders Stunnable
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: Changes: No C#

#2396 Shoveling food
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: Changes: No C#

#2393 Vox Atmos Firesuit plus adjustments
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/bombsuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/bombsuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/fire.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/fire.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2383 add logistics 101 to guidebookshelf
  Resources/Prototypes/_Impstation/Catalog/Fills/Books/guidebookshelf.yml
Labels: Changes: No C#

#2382 thieving beacon contraband & subfloor anchoring
  Resources/Prototypes/Entities/Objects/Tools/thief.yml
Labels: Changes: No C#

#2402 A couple misc bounty hunter fixes
  Resources/Locale/en-US/_Impstation/bountyhunter/bountyhunter.ftl
  Resources/Locale/en-US/_Impstation/guidebook/guides.ftl
  Resources/Maps/_Impstation/Shuttles/ShuttleEvent/heron.yml
  Resources/Prototypes/_Impstation/Antags/bountyhunter.yml
  Resources/Prototypes/_Impstation/GameRules/events.yml
  Resources/Prototypes/_Impstation/Guidebook/ghostroles.yml
  Resources/Prototypes/_Impstation/Objects/Specific/Bounty Hunter/bounty_hunter_items.yml
  Resources/ServerInfo/_Impstation/Guidebook/Ghostroles/BountyHunter.xml
  Resources/ServerInfo/_Impstation/Guidebook/Ghostroles/Ghostroles.xml
Labels: Changes: No C#, Changes: Map

#2394 Hide "Station-Specific" Category
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: No C#

#2351 What if the game looked good
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/blasterbolts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/disablerbolts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/heavy.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/heavygold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/heavypurp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/heavystun.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/heavysynd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/light.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/lightgold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/lightpurp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/lightstun.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/lightsynd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/medium.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumgold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumpurp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumstun.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumsynd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumtemp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/mediumtemp2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/cold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/gold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/hot.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/purp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/red.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/stun.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/synd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energy.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energygold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energypurp.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energystun.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energysynd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/kinetic.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/kineticsmall.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/tempcold.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/temphot.png
Labels: Changes: No C#, Changes: Sprites

#2377 Add shader support to decals
  Content.Client/Decals/Overlays/DecalOverlay.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/Decal.cs
  Content.Shared/Decals/DecalPrototype.cs
  Resources/Prototypes/_Impstation/Shaders/shaders.yml
  Resources/Textures/_Impstation/Shaders/red_square.swsl
Labels: Changes: Shaders

#2406 Tips 43428723
  Resources/Locale/en-US/_Impstation/login-tips.ftl
  Resources/Prototypes/_Impstation/Datasets/login-tips.yml
  Tools/changelog_refit_ids.py
  Tools/messages_to_login_tips.py
Labels: Changes: No C#

#2409 Map fixes and such! [Box, Xeno, Synthesis Shuttle]
  Resources/Maps/_Impstation/Shuttles/synthesis_ship.yml
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/xeno.yml
Labels: Changes: No C#, Changes: Map

#2411 added pride drobe restocks to the wardrobe restock box
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Changes: No C#

#2417 Make normal thaven plushie use mono audio
  Resources/Audio/_Impstation/Thaven/attributions.yml
  Resources/Audio/_Impstation/Thaven/moods_changed_mono.ogg
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, Changes: Audio

#2415 BoogieBot
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/bots/boogiebot.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/bots.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/boogiebot-d1.png
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/boogiebot-d2.png
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/boogiebot-d3.png
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/boogiebot-dead.png
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/boogiebot.png
  Resources/Textures/_Impstation/Mobs/Silicon/Bots/boogiebot.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2416 Fireaxe/Shotgun Cabinets Resprites plus Fireaxe inhands
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/shotgun_cabinet.yml
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-right.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-empty-closed.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/fireaxe.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass-1.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass-2.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass-3.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass-4.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass-up.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/glass.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/locked.png
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/fireaxe_cabinet.rsi/unlocked.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-empty-closed.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass-1.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass-2.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass-3.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass-4.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass-up.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/glass.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/locked.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/shotgun.png
  Resources/Textures/_Impstation/Structures/Wallmounts/shotgun_cabinet.rsi/unlocked.png
Labels: Changes: No C#, Changes: Sprites

#2425 Minor Marathon update
  Resources/Maps/_Impstation/marathon.yml
Labels: Changes: No C#, Changes: Map

#2420 unisex moths get all the emote sounds
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: No C#

#2418 RD Cloak If It Was GOOD
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/rd.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/rd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/rd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/rd.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2408 Anomalite Polish Pass
  Resources/Audio/_Impstation/Voice/Talk/Anomalite/anomalite.ogg
  Resources/Audio/_Impstation/Voice/Talk/Anomalite/anomalite_ask.ogg
  Resources/Audio/_Impstation/Voice/Talk/Anomalite/anomalite_exclaim.ogg
  Resources/Audio/_Impstation/Voice/Talk/Anomalite/anomalite_scream.ogg
  Resources/Locale/en-US/_Impstation/chat/managers/chat-manager.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalite_damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalite_sounds.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Anomalites/anomalites.yml
  Resources/Textures/_Impstation/Mobs/Anomalites/bluespace.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/bluespace.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/electric.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/electric.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/fire.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/fire.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/flesh.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flesh.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/flower.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/flower.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/grav.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/grav.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/ice.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/ice.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/reagent.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/reagent.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/rock.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/rock.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/shadow.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/shadow.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Anomalites/tech.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Anomalites/tech.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2424 [Temporary] Change escape pod docking airlock access to maints access
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: No C#

#2388 Atmos bomber jackets
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos.rsi/open-inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo.rsi/open-inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_holo_loose.rsi/open-inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/icon-open.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/open-inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/BomberJackets/bomber_atmos_loose.rsi/open-inhand-right.png
Labels: Changes: No C#, Changes: Sprites

#2373 Coconuts!
  Resources/Audio/_Impstation/Items/Coconut/bonk.ogg
  Resources/Audio/_Impstation/Items/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Toys/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Toys/dkyeah.ogg
  Resources/Audio/_Impstation/Weapons/Guns/Toys/guncoconut.ogg
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Cannons/coconutgun.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest-inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest-inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/coconest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/slice.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconest.rsi/stage-6.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut-inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut-inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/coconut.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/slice.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/coconut.rsi/stage-6.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Cannons/coconutgun.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Cannons/coconutgun.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Cannons/coconutgun.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Cannons/coconutgun.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Audio

#2421 tapes deserve more love
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
Labels: Changes: No C#

#2428 Tweaks to HD's jumpskirts
  Resources/Prototypes/_Impstation/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: No C#

#2436 no more of that captain's green
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Impstation/Clothing/Back/Backpacks/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Clothing/Back/Backpacks/captain.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Back/Backpacks/captain.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Back/Backpacks/captain.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Back/Backpacks/captain.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Back/Duffels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Clothing/Back/Duffels/captain.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Back/Duffels/captain.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Back/Duffels/captain.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Back/Duffels/captain.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Back/Satchels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/captain.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/captain.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/captain.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Back/Satchels/captain.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakformal.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakformal.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakformal.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Armor/captain_carapace.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-kodepiia.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/capspace.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2435 Anomalites
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: Changes: No C#

#2432 new round end sound + round end volume adjustments
  Resources/Audio/_Impstation/RoundEnd/admin.ogg
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/bangindonk.ogg
  Resources/Audio/_Impstation/RoundEnd/chadwarden.ogg
  Resources/Audio/_Impstation/RoundEnd/chickensandwich.ogg
  Resources/Audio/_Impstation/RoundEnd/danish.ogg
  Resources/Audio/_Impstation/RoundEnd/dead.ogg
  Resources/Audio/_Impstation/RoundEnd/getoffme.ogg
  Resources/Audio/_Impstation/RoundEnd/leatherbelt.ogg
  Resources/Audio/_Impstation/RoundEnd/realworld.ogg
  Resources/Audio/_Impstation/RoundEnd/slog.ogg
  Resources/Audio/_Impstation/RoundEnd/slog2.ogg
  Resources/Audio/_Impstation/RoundEnd/weed.ogg
  Resources/Audio/_Impstation/RoundEnd/winning.ogg
  Resources/Audio/_Impstation/RoundEnd/wuhey.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio

#2429 Reduce reoundstart drone spawns to 1 on all maps
  Resources/Maps/_Impstation/barratry.yml
  Resources/Maps/_Impstation/boat.yml
  Resources/Maps/_Impstation/core.yml
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/plasma.yml
  Resources/Maps/_Impstation/union.yml
Labels: Changes: No C#, Changes: Map

#2413 new slime eyes
  Resources/Locale/en-US/_Impstation/markings/arachnid.ftl
  Resources/Locale/en-US/_Impstation/markings/slimeperson.ftl
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/slimeperson.yml
  Resources/Textures/_Impstation/Mobs/Customization/SlimePerson/eyes.rsi/cyclops.png
  Resources/Textures/_Impstation/Mobs/Customization/SlimePerson/eyes.rsi/cyclopsglow.png
  Resources/Textures/_Impstation/Mobs/Customization/SlimePerson/eyes.rsi/droopy.png
  Resources/Textures/_Impstation/Mobs/Customization/SlimePerson/eyes.rsi/droopyglow.png
  Resources/Textures/_Impstation/Mobs/Customization/SlimePerson/eyes.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/eyes.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/meta.json
Labels: markings, Changes: No C#, Changes: Sprites

#2414 add military medical mask to brigmed locker
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: No C#

#2419 kode warden hardsuit
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/off-equipped-HELMET-kodepiia.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/security-warden.rsi/on-equipped-HELMET-kodepiia.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/equipped-OUTERCLOTHING-kodepiia.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/security-warden.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2434 Spiky ponytail hair variant with a longer ponytail
  Resources/Locale/en-US/_Impstation/markings/humanoid.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/spikyponytaillong.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/spikyponytail.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/spikyponytaillong.png
Labels: Changes: No C#, Changes: Sprites

#2433 Fixed home run bat double-tapping
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
Labels: Changes: No C#

#2439 Fix Handheld Mass Scanner size
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: Changes: No C#

#2442 Blinking Additions
  Resources/Audio/_Impstation/Effects/Emotes/attributions.yml
  Resources/Audio/_Impstation/Effects/Emotes/wetblink.ogg
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gastropoid.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
Labels: Changes: No C#, Changes: Audio

#2446 body emote fixes
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/gastropoid.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
Labels: Changes: No C#

#2441 Add lens slots to most crew obtainable eyewear
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_EE/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: No C#

#2431 Reptilian Head Frill Marking
  Resources/Locale/en-US/_Impstation/markings/reptilian.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_Impstation/Mobs/Customization/Reptilian/headtop.rsi/frill.png
  Resources/Textures/_Impstation/Mobs/Customization/Reptilian/headtop.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2451 make heavy nitrile gloves obscure fingerprints
  Resources/Prototypes/_DV/Entities/Clothing/Hands/gloves.yml
Labels: Changes: No C#

#2445 rebalanced null rod options
  Resources/Locale/en-US/_Impstation/chemistry/components/mixing-component.ftl
  Resources/Prototypes/_Impstation/Chemistry/mixing_types.yml
  Resources/Prototypes/_Impstation/Objects/Misc/nullrod.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/misc.yml
Labels: Changes: No C#

#2456 make the ready manifest work again
  Content.Client/_Impstation/ReadyManifest/ReadyManifestUi.xaml.cs
Labels: Changes: UI

#2464 fix earrings from #2059
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
Labels: Changes: No C#

#2449 salvage has always been purple
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/_Impstation/Catalog/VendingMachines/Inventories/salvdrobe.yml
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/icon-flash.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/salvage.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/icon-flash.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/off-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_Impstation/Clothing/Head/Hardsuits/spatiohelm.rsi/on-equipped-HELMET.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/equipped-MASK-vox.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/equipped-MASK.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Mask/gasexplorer.rsi/up-equipped-MASK.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-kodepiia.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-kodepiia.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Hardsuits/spatio.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/gps.rsi/active.png
  Resources/Textures/_Impstation/Objects/Devices/gps.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Devices/gps.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Devices/gps.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Devices/gps.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/figurines.rsi/salvage.png
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Machines/VendingMachines/salvdrobe.rsi/normal-unshaded.png
Labels: Changes: No C#, Changes: Sprites

#2426 Growable and throwable roses
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Throwable/roses.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/equipped-MASK.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/blackRose.rsi/stage-6.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/equipped-HELMET.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/equipped-MASK.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-4.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-5.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/rose.rsi/stage-6.png
  Resources/Textures/_Impstation/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Storage/boxes.rsi/syndicaterosebox.png
Labels: Changes: No C#, Changes: Sprites

#2453 Bunny ears in autodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: Changes: No C#

#2450 Specialized Topicals
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Medical/HealingSystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/medical.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/Entities/Objects/Deliveries/package_rare_tables.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Impstation/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Impstation/Stacks/medical_stacks.yml
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/cream.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/cold-pack.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/electrode-pad.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/ez-graft.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/medicated-suture.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/shock-gel.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/simple-suture.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/medical.rsi/tincture.png
Labels: Changes: Sprites

#2467 specialised topical yaml hotfix
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: Changes: No C#

#2472 remove upstream feature request
  .github/ISSUE_TEMPLATE/config.yml
Labels: Changes: No C#

#2455 THE ENDLESS TOIL PART 2 - more supermatter adjustments, delam expansion pack
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.Processing.cs
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/_Impstation/Thaven/ThavenMoodSystem.cs
  Content.Shared/_EE/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/_Impstation/Weapons/Melee/AshOnMeleeHitSystem.cs
  Content.Shared/_Impstation/Weapons/Melee/Components/AshOnMeleeHitComponent.cs
  Resources/Locale/en-US/_Impstation/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/_Impstation/weapons/melee/ash.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_EE/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/_EE/Entities/Virtual/supermatter.yml
  Resources/Prototypes/_EE/GameRules/supermatter.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/smspider.yml
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/smspider-dead.png
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/smspider-moving.png
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/smspider.png
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/smspideroc-moving.png
  Resources/Textures/_Impstation/Mobs/Aliens/smspider.rsi/smspideroc.png
Labels: Changes: Sprites

#2443 Replicators
  Content.Client/_Impstation/Replicator/ReplicatorNestFallingVisualsSystem.cs
  Content.Client/_Impstation/Replicator/ReplicatorNestVisualsSystem.cs
  Content.Client/_Impstation/Replicator/ReplicatorVisualsSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Shared/_Impstation/Replicator/ReplicatorComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestFallingComponent.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Content.Shared/_Impstation/SpawnedFromTracker/SpawnedFromTrackerComponent.cs
  Content.Shared/_Impstation/SpawnedFromTracker/SpawnedFromTrackerSystem.cs
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-actions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-laws.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-nest.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-spawner.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
  Resources/Textures/_Impstation/Interface/Actions/replicator_level2.png
  Resources/Textures/_Impstation/Interface/Actions/replicator_level3.png
  Resources/Textures/_Impstation/Interface/Actions/spawn_nest.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_level3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level1.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/dead_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/dead_level3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/icon.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/t3weapon.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest1.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest3.png
Labels: Changes: Sprites

#2473 shotgun shell drop sound fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: Changes: No C#

#2471 reduced vomiting and jitter on synthflesh
  Resources/Prototypes/_Impstation/Reagents/biological.yml
Labels: Changes: No C#

#2448 Burger Maxing
  Content.Client/_Impstation/Administration/Components/EatSignComponent.cs
  Content.Client/_Impstation/Administration/Systems/EatSignSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Server/_Impstation/Administration/Components/EatSignComponent.cs
  Content.Shared/Nutrition/Components/FoodSequenceStartPointComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Textures/_Impstation/Objects/Misc/eatsign.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/eatsign.rsi/sign.png
Labels: Changes: Sprites

#2164 Heavyweight drunk trait
  Content.Shared/Drunk/DrunkSystem.cs
  Content.Shared/_Impstation/Traits/Assorted/HeavyweightDrunkComponent.cs
  Resources/Locale/en-US/_Impstation/traits/traits.ftl
  Resources/Prototypes/_Impstation/Traits/quirks.yml
Labels: PR limbo

#2475 Add pipe thermostat prototypes for mapping
  Resources/Locale/en-US/_Impstation/atmos/gas-pipe-sensor.ftl
  Resources/Prototypes/_Impstation/Atmospherics/thresholds.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Specific/Atmospherics/thermostat.yml
  Resources/Textures/_Impstation/Structures/Wallmounts/air_monitors_thermostat.rsi/heat.png
  Resources/Textures/_Impstation/Structures/Wallmounts/air_monitors_thermostat.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2444 my endless toil (more supermatter changes)
  Content.Client/_EE/Supermatter/Consoles/SupermatterEntryContainer.xaml
  Content.Server/Lightning/LightningSystem.cs
  Content.Server/Lightning/LightningTargetSystem.cs
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.Processing.cs
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/_EE/CCVar/EECCVars.cs
  Content.Shared/_EE/Supermatter/Components/SupermatterComponent.cs
Labels: supermatter, Changes: UI

#2477 Make scarves warm clothing, nerf winter boots
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/softsuits.yml
Labels: Changes: No C#

#2430 new botany crop: hops
  Resources/Locale/en-US/_Impstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/agentgrain.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/employedhops.rsi/stage-3.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/dead.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/harvest.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/hops.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/seed.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-1.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-2.png
  Resources/Textures/_Impstation/Objects/Specific/Hydroponics/hops.rsi/stage-3.png
Labels: Changes: No C#, Changes: Sprites

#2491 three new hairstyles for humanoids
  Resources/Locale/en-US/_Impstation/markings/humanoid.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggy.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggylonger.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggymessy.png
Labels: Changes: No C#, Changes: Sprites

#2494 give write permissions to pull requests
  .github/workflows/labeler-conflict.yml
Labels: Changes: No C#

#2495 part 2 of checks hell
  .github/workflows/labeler-needsreview.yml
Labels: Changes: No C#

#2352 AAC Tablet [DeltaV Port]
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletComponent.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
  Content.Shared/_DV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/_DV/QuickPhrase/QuickPhrasePrototype.cs
  Resources/Locale/en-US/_DV/phrases/common.ftl
  Resources/Locale/en-US/_DV/phrases/locations.ftl
  Resources/Locale/en-US/_DV/phrases/species.ftl
  Resources/Locale/en-US/_DV/phrases/subjects.ftl
  Resources/Locale/en-US/_DV/phrases/threats.ftl
  Resources/Locale/en-US/_DV/ui/aac-tablet.ftl
  Resources/Locale/en-US/_Impstation/species/species.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/manners.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/cargo.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/command.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/science.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/_DV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/_DV/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/_DV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/_DV/QuickPhrases/base.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_DV/QuickPhrases/locations.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac-inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac-inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac_screen-inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac_screen-inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac_screen.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/aac_tablet.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#2454 Music Suggestions - April
  Resources/Audio/_Impstation/Music/a_line_in_the_sand.ogg
  Resources/Audio/_Impstation/Music/a_new_dawn.ogg
  Resources/Audio/_Impstation/Music/alicorn.ogg
  Resources/Audio/_Impstation/Music/anti_alien_alarm.ogg
  Resources/Audio/_Impstation/Music/attributions.yml
  Resources/Audio/_Impstation/Music/bath_time.ogg
  Resources/Audio/_Impstation/Music/breaking_bad_remix.ogg
  Resources/Audio/_Impstation/Music/clair_de_lune.ogg
  Resources/Audio/_Impstation/Music/cyberwildlife_park.ogg
  Resources/Audio/_Impstation/Music/drivers_lounge.ogg
  Resources/Audio/_Impstation/Music/ds_nuke.ogg
  Resources/Audio/_Impstation/Music/eon.ogg
  Resources/Audio/_Impstation/Music/final_hours.ogg
  Resources/Audio/_Impstation/Music/fly_octo_fly.ogg
  Resources/Audio/_Impstation/Music/great_heat.ogg
  Resources/Audio/_Impstation/Music/inspection.ogg
  Resources/Audio/_Impstation/Music/internet_settings.ogg
  Resources/Audio/_Impstation/Music/java_havana_funkaloo.ogg
  Resources/Audio/_Impstation/Music/lucid_rhythms.ogg
  Resources/Audio/_Impstation/Music/please_dont_touch_anything.ogg
  Resources/Audio/_Impstation/Music/purge.ogg
  Resources/Audio/_Impstation/Music/replay_and_wifi_waiting.ogg
  Resources/Audio/_Impstation/Music/wizard_disco.ogg
  Resources/Audio/_Impstation/Music/xeno_arcadia.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/SoundCollections/expeditions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Impstation/Catalog/Jukebox/Standard.yml
Labels: Changes: No C#, Changes: Audio

#2483 Moonrise Blend
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-5.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/fill-6.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/moonrise.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2492 yet another new round end sound
  Resources/Audio/_Impstation/RoundEnd/attributions.yml
  Resources/Audio/_Impstation/RoundEnd/whymad.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio

#2487 Add shoveled astro-snow, astro-cave, and craftable asphalt tiles
  Resources/Locale/en-US/_Impstation/tiles/tiles.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_Impstation/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Impstation/Tiles/floors.yml
  Resources/Textures/_Impstation/Objects/Tiles/asphalt.rsi/asphalt.png
  Resources/Textures/_Impstation/Objects/Tiles/asphalt.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Tiles/cave.rsi/cave.png
  Resources/Textures/_Impstation/Objects/Tiles/cave.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2497 removes fishing
  Resources/Prototypes/_Impstation/Entities/Objects/Fishing/fishing_rods.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/improvised/fishing_rod.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/protolathe.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/fishing.yml
  Resources/Prototypes/_Impstation/Research/civilianservices.yml
  Resources/migration.yml
Labels: Changes: No C#

#2460 Revert upstream PR #32221, giving mothroaches and cockroaches 1 piercing damage bites.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#

#2505 update issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
Labels: Changes: No C#

#2507 github issue template ordering
  .github/ISSUE_TEMPLATE/1-issue_report.md
  .github/ISSUE_TEMPLATE/2-feature_request.md
Labels: Changes: No C#

#2506 Lobby art by Wowls
  Resources/Prototypes/_Impstation/lobbyscreens.yml
  Resources/Textures/_Impstation/LobbyScreens/attributions.yml
  Resources/Textures/_Impstation/LobbyScreens/smoko.webp
  Resources/Textures/_Impstation/LobbyScreens/smoko.webp.yml
Labels: Changes: No C#

#2490 Replicator Major Update
  Content.Client/_EE/Overlays/Switchable/ThermalVisionOverlay.cs
  Content.Client/_Impstation/Replicator/ReplicatorNestVisualsSystem.cs
  Content.Client/_Impstation/Replicator/ReplicatorVisualsSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Server/_Impstation/Replicator/ReplicatorSystem.cs
  Content.Shared/_EE/Overlays/Switchable/ThermalVisionImmuneComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestComponent.cs
  Content.Shared/_Impstation/Replicator/ReplicatorNestPointsStorageComponent.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Resources/Audio/_Impstation/Ambience/attributions.yml
  Resources/Audio/_Impstation/Ambience/hole_2.ogg
  Resources/Audio/_Impstation/Ambience/replicator_ambiance.ogg
  Resources/Audio/_Impstation/Effects/attributions.yml
  Resources/Audio/_Impstation/Effects/falling.ogg
  Resources/Audio/_Impstation/Effects/replicator_ask.ogg
  Resources/Audio/_Impstation/Effects/replicator_exclaim.ogg
  Resources/Audio/_Impstation/Effects/replicator_speak.ogg
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-actions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-body.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-damage.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-inventory.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-nameidentitier.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-nest.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-spawner.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-speech.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_level3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level1.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level3.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/dead_level2.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/replicator0.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/t1weapon.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/beam_repli.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/impact_repli.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_gun.rsi/muzzle_repli.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest1unshaded.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest2unshaded.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_nest.rsi/nest3unshaded.png
  Resources/Textures/_Impstation/Objects/Devices/pinpointer_replicator.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/pinpointer_replicator.rsi/pinpointer-replicator.png
Labels: Changes: Sprites, Changes: Audio

#2504 more moth markings (mmm)
  Resources/Locale/en-US/_Impstation/markings/moth.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/blunt.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/daisy.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/heart.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/horn.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headside.rsi/smallspike.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/cockroach.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/fly.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/heart1.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/heart2.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Moth/headtop.rsi/nub.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/fulgoridae.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/fulgoridaeupturned.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/hymenoptera.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/hymenopteralarge.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/proboscisdownturned.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/proboscisupturned.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/snout.rsi/schistocerca.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/dragonfly1.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/dragonfly2.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/dragonfly3.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/fly1.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/fly2.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/fly3.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/lanternfly.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/tail.rsi/meta.json
Labels: Bug, markings, Changes: No C#, Changes: Sprites

#2510 add decapoid salvager coat to salvdrobe
  Resources/Prototypes/_Impstation/Catalog/VendingMachines/Inventories/salvdrobe.yml
Labels: Changes: No C#

#2381 HoP #2!
  Resources/Locale/en-US/chat/highlights.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Guidebook/command.yml
  Resources/Prototypes/Guidebook/service.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Service/hospitality_director.yml
  Resources/ServerInfo/_Impstation/Guidebook/AlertProcedure.xml
  Resources/ServerInfo/_Impstation/Guidebook/Command.xml
  Resources/ServerInfo/_Impstation/Guidebook/Service/Service.xml
Labels: Changes: No C#

#2486 Update Shining Spring and Mail RPDS Sprites
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/cleaner_lake.rsi/wielded-inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/bolt-open.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites

#2503 Added Contraband Tags to Seed Packets
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: Changes: No C#

#2500 Thaven shaggy
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/thavenshaggy.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/thavenshaggylonger.png
Labels: Changes: No C#, Changes: Sprites

#2499 having fun and being yourself update
  Content.Server/Puppet/VentriloquistPuppetSystem.cs
  Content.Shared/Puppet/VentriloquistPuppetComponent.cs
  Resources/Locale/en-US/_NF/ventriloquist/ventriloquist.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/petrocks.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Impstation/SoundCollections/kodepiia.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/bosco.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/constance.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/evilpepper.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/gayrock.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/googler.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/misha.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/painty.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/pepper.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/rock.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/sexyrock.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/shoosh.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/skipper.png
  Resources/Textures/_Impstation/Objects/Fun/petrock.rsi/tony.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_kodepiia1.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_kodepiia2.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_kodepiia3.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_kodepiia4.png
  Resources/Textures/_Impstation/Objects/Fun/toys.rsi/plushie_kodepiia5.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/icon.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/base.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/rocket0-inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/rocket0-inhand-right.png
  Resources/Textures/_NF/Objects/Fun/prizeticket.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/prizeticket.rsi/prizeball.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-open.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/meta.json
Labels: Changes: Sprites

#2514 HoPTarts!!
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/hoptart.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default-inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default-inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/default.png
  Resources/Textures/_Impstation/Objects/Consumable/Food/idtart.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2452 Novelty mugs + mug capacity increase
  Resources/Locale/en-US/_Impstation/datasets/mugs.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/_Impstation/Datasets/Names/noveltymugs.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/service.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/icon-0.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/icon-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/icon-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/icon-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/icon-label.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/noveltymug.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2527 Luna update
  Resources/Maps/_Impstation/luna.yml
Labels: Changes: No C#, Changes: Map

#2531 Banana remake
  Resources/Maps/_Impstation/banana.yml
  Resources/Prototypes/_Impstation/Maps/banana.yml
Labels: Changes: No C#, Changes: Map

#2534 my two
  Resources/Maps/_Impstation/banana.yml
Labels: Changes: No C#, Changes: Map

#2535 Cute apron resprites
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutebar.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/icon.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/OuterClothing/Misc/aproncutechef.rsi/inhand-right.png
Labels: Changes: No C#, Changes: Sprites

#2530 Replicator Minor Overhaul
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Shared/_Impstation/Replicator/ReplicatorComponent.cs
  Content.Shared/_Impstation/Replicator/SharedReplicatorNestSystem.cs
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-actions.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-nest.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-spawner.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Textures/_Impstation/Interface/Actions/replicator_level2alt.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/alive_level2alt.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/combat_level2alt.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/t2altmelee.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator.rsi/t2altweapon.png
Labels: Changes: Sprites

#2538 banana fix
  Resources/Maps/_Impstation/banana.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/NPCs/miscellaneous.yml
Labels: Changes: No C#, Changes: Map

#2533 autoinjector kit
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/firstaidkits.yml
Labels: Changes: No C#

#2520 susie hair
  Resources/Locale/en-US/_Impstation/markings/humanoid.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/humanoid.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susie.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susienobangs.png
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Thaven/hair.rsi/susiethaven.png
Labels: Changes: No C#, Changes: Sprites

#2541 Gate Station Real
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2548 AAC can be crafted in the medfab now
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/medical.yml
Labels: Changes: No C#

#2558 memorial blunts and joints
  Resources/Locale/en-US/_Impstation/random-metadata/random-metadata-formats.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/fun.ftl
  Resources/Locale/en-US/_Impstation/reagents/physical-desc.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/joints.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/Graphs/smokeables.yml
  Resources/Prototypes/_Impstation/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: No C#

#2561 Minor Hummingbird update
  Resources/Maps/_Impstation/hummingbird.yml
Labels: Changes: No C#, Changes: Map

#2542 pitchfork's normal (i hate foam weapons now i hate toys)
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#

#2564 A few small whale fixes
  Resources/Maps/_Impstation/boat.yml
Labels: Changes: No C#, Changes: Map

#2560 Add prototypes for maintenance locked external airlocks
  Resources/Prototypes/_Impstation/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: No C#

#2551 banana update
  Resources/Maps/_Impstation/banana.yml
Labels: Changes: No C#, Changes: Map

#2550 Add janitorial toolboxes
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_purple.rsi/icon-open.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_purple.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_purple.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_purple.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Tools/Toolboxes/toolbox_purple.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2572 Keep decapoid speed buff from "replace jankass blocking anchoring with slowdown"
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Decapoid.xml
Labels: Changes: No C#

#2567 Bedlam - 0-25 lowpop map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Impstation/Shuttles/emergency_bedlam.yml
  Resources/Maps/_Impstation/bedlam.yml
  Resources/Prototypes/_Impstation/Maps/bedlam.yml
Labels: Changes: No C#, Changes: Map

#2532 Add gildgrail splashing and make fancy holy waters better.
  Resources/Prototypes/_Impstation/Objects/Misc/nullrod.yml
  Resources/Prototypes/_Impstation/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Reagents/toxins.yml
Labels: Changes: No C#

#2557 business cards
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/business_card.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/Graphs/fun/business_card.yml
  Resources/Prototypes/_Impstation/Recipes/Construction/fun.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/business-card-writing.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/business-card.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2578 Dan's Soaked Smokes: Rejects
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cartons/mixedrejectscarton.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/closed.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/equipped-BELT.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/open.png
  Resources/Textures/_Impstation/Objects/Consumable/Smokeables/Cigarettes/Packs/mixedrejects.rsi/trash.png
Labels: Changes: No C#, Changes: Sprites

#2556 Syndicate Lethal Poison Pen
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/_Impstation/Objects/Specific/Medical/poisonpen.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Medical/poisonpen.rsi/poisonpen.png
  Resources/Textures/_Impstation/Objects/Specific/Medical/poisonpen.rsi/poisonpen_empty.png
Labels: Changes: No C#, Changes: Sprites

#2580 The Dryest Station: Hash
  Resources/Maps/_Impstation/hash.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2581 Gender Tail Assignment Surgery
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: No C#

#2583 hop starts with paperwork belt
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: No C#

#2582 NTAS: Dolphin
  Resources/Maps/_Impstation/lilboat.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Impstation/Maps/lilboat.yml
Labels: Changes: No C#, Changes: Map

#2565 More drinks
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/alchohol.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/alchohol.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/doublegreen.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/liquidlunch.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/poormansfrezon.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2594 Decapoid clicking and chittering
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/decapoid.yml
  Resources/Prototypes/_Impstation/Voice/decapoid.yml
Labels: Changes: No C#

#2595 Small no contractions accent fix
  Resources/Locale/en-US/_Impstation/accent/nocontractions.ftl
  Resources/Prototypes/_Impstation/Accents/nocontractions_replacements.yml
Labels: Changes: No C#

#2600 makes hemp bags normal
  Resources/Prototypes/_Impstation/Objects/Misc/sack.yml
Labels: Changes: No C#

#2543 Replicators.
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_Impstation/Replicator/ReplicatorNestSystem.cs
  Content.Shared/_DV/AACTablet/AACTabletComponent.cs
  Content.Shared/_DV/QuickPhrase/QuickPhrasePrototype.cs
  Resources/Locale/en-US/_Impstation/replicators/replicators.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/_DV/QuickPhrases/phrase_groups.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-AAC-phrases.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-laws.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicator-loadout.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Player/Silicon/Replicators/replicators.yml
  Resources/Prototypes/_Impstation/GameRules/events.yml
  Resources/Prototypes/_Impstation/GameRules/replicator_event.yml
  Resources/Prototypes/threats.yml
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tablet.rsi/aac_screen.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tablet.rsi/aac_tablet.png
  Resources/Textures/_Impstation/Mobs/Replicator/replicator_tablet.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#2608 Storage texture attribution fixes
  Resources/Textures/_Impstation/Structures/Storage/Crates/chemcrate_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/command.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/electrical.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/engicrate_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/engineering.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/freezer.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/generic.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/hydro_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/hydroponics.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/medical.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/medicalcrate_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/o2.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/plasma.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/plastic.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/privatecrate_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/radiation.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/scicrate_secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/science.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_contraband.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/sec_gear.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/secure.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/surgery.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/syndicate.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/trashcart.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/trashcart_jani.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/weapon.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/Crates/web.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/couriercloset.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/hdcloset.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/janitorcloset.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/musiciancloset.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/suit_storage.rsi/meta.json
Labels: Changes: No C#

#2605 Add evidence room station beacon prototype
  Resources/Locale/en-US/_Impstation/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: No C#

#2518 Ports medical cyborg gumballs and lollipops from DeltaV
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_DV/Abilities/Borgs/RandomizedCandyVisualizer.cs
  Content.Server/_DV/Abilities/Borgs/CandyFlavorPrototype.cs
  Content.Server/_DV/Abilities/Borgs/RandomizedCandySystem.cs
  Content.Shared/_DV/Abilities/Borgs/RandomizedCandyComponent.cs
  Content.Shared/_DV/Silicons/Borgs/FabricateCandyComponent.cs
  Content.Shared/_DV/Silicons/Borgs/FabricateCandySystem.cs
  Resources/Prototypes/_DV/Actions/borgs.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_DV/Flavors/candyflavors.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/gumball-shine.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK-goblin.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK-gray.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/meta.json
Labels: Changes: Sprites

#2615 Bedlam updates
  Resources/Maps/_Impstation/Shuttles/emergency_bedlam.yml
  Resources/Maps/_Impstation/bedlam.yml
Labels: Changes: No C#, Changes: Map

#2618 Pyrausta wings for moths
  Resources/Locale/en-US/_Impstation/markings/moth.ftl
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_inner_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_inner_front.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_neck.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_stripes_front.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_wing_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/Moth/taillayers.rsi/pyr_wing_front.png
Labels: Changes: No C#, Changes: Sprites

#2621 Nerf space cleaner dispenser
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
Labels: Changes: No C#

#2619 Hash Update
  Resources/Maps/_Impstation/hash.yml
Labels: Changes: No C#, Changes: Map

#2599 Reduce frilly apron timers + give HD access to them
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Civilian/hospitality_director.yml
  Resources/Prototypes/_Impstation/Loadouts/loadout_groups.yml
Labels: Changes: No C#

#2590 Sturm Speedloader
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/_Impstation/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Impstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-6.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-7.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/mag-8.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/sturm_speed_loader.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites

#2630 Slightly unnerf nerf to space cleaner dispenser
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
Labels: Changes: No C#

#2625 Simple Suture lathe recipe nerf
  Resources/Prototypes/_Impstation/Recipes/Lathes/medical.yml
Labels: Changes: No C#
